[2017-03-08 07:24] jedufour opened #2 "KnotVectorV getter return knot vector U"

[2017-03-08 07:32] jedufour opened #3 "Dimension issues inside read_ctrlpts"
If the number of points along U and V are not the same, then this line produce an 'out-of-range' error:
`ctrlpts_v.append(self._mCtrlPts[i + (j * self._mCtrlPts_sizeV)])`

I think it should be `j + (i * self._mCtrlPts_sizeV)`

[2017-03-08 09:47] #2 closed

[2017-03-08 09:48] orbingol commented on #2
Thanks @jedufour

[2017-03-08 22:33] orbingol commented on #3
Fixed in PR #4

[2017-03-08 22:33] #3 closed

[2017-05-10 16:08] nortikin opened #6 "hohoho!!!"
Great i found you.
Sverchok must have it onboard
:no_good_man: :ok_man: 😍 😆 :ru:
![levels 19](https://cloud.githubusercontent.com/assets/5783432/25908940/4cd4bc90-35b4-11e7-9aaf-ca7ebf543217.png)
![levels 18](https://cloud.githubusercontent.com/assets/5783432/25908938/4cd4bae2-35b4-11e7-88af-1147df0dbe57.png)
![levels 17](https://cloud.githubusercontent.com/assets/5783432/25908941/4cd5ebf6-35b4-11

[2017-05-10 17:07] orbingol commented on #6
@nortikin I wish I could understand what you mean, especially with that title "hohoho!!!". Are you trying to be funny or what?

[2017-05-10 17:19] nortikin commented on #6
i'm happy to find your repo.
Newermind. Thank you for your work

[2017-05-10 17:37] nortikin commented on #6
sorry, Sverchok is http://github.com/nortikin/sverchok

[2017-05-10 17:53] orbingol commented on #6
@nortikin You could have told these directly (or, maybe, emailed me) with a more relevant title and descriptive figures. I thought that somebody was spamming the issue tracker, which is always possible as this project is on a public domain and freely accessible. But, I got your point. Thank you for your messages and nice figures :)

I really appreciate and also respect other people's work on compu

[2017-05-10 17:53] #6 closed

[2017-05-11 16:54] orbingol opened #7 "Implement Knot Insertion"
Knot insertion is one of the fundamental geometric algorithms stated in _The NURBS Book_.  The major advantages of the knot insertion operation are;
* Splitting (subdividing) curves and surfaces
* Interactive design (adding control points to make shape control more flexible)

Let's start implementing the knot Insertion algorithms (A5.1 for curves, A5.3 for surfaces).

[2017-06-19 15:06] nortikin commented on #6
can this tool be in numpy? or don't you know who maybe made numpy version?

[2017-06-19 21:52] orbingol commented on #6
@nortikin I would answer your first question as yes, but no :)

Well, actually it is impossible to underestimate the advantages of numpy package in programming mathematical tools, but I believe that people use numpy a lot even it is unnecessary to use in some development environments. It would be very advantageous to use numpy in this NURBS package, but I believe that if I could do it with minimum

[2017-06-20 12:08] nortikin commented on #6
thank you.

[2017-07-03 20:06] rainman110 commented on #7
If you still want to implement knot insertion, here is the code from our python based nurbs library:

[code]

Feel free to use and adapt it for your needs.

[2017-07-26 12:54] tawfikkhaled opened #12 "Degree Elevation"

[2017-07-26 20:04] orbingol commented on #12
From what I understand from the description text in this issue is that this repository urgently needs a Code of Conduct document. I will take care of it this weekend.

Degree Elevation? Well, I would love to see OP's contributions on degree elevation implementation on the **surfaces**. That means I need to take care of the Contributing document too. Consider it done with the Code of Conduct. So, w

[2017-07-26 20:04] #12 closed

[2017-09-02 22:48] FraJoMen opened #13 "Join in the NURBS workbench for Freecad"
Hi ! fist of all congratulation for your work, I star to study your cod and The NURBS Book ! What do you think about to implement your cod in the Silk project?. Silk (https://edwardvmills.github.io/Silk/) have the vantage from GUI and Freecad tool.

I wish do a code to make  Isogeometric Analysis (IGA) and will be amazing work together. IGA  employs NURBS  for integrate Partial Differential Equati

[2017-09-03 01:14] orbingol commented on #13
Thanks @FraJoMen, I appreciate it. I am glad you liked this library.

I have been so far away from this code because of my responsibilities with the other projects. I am planning to return back, test the latest changes and push them very soon, hopefully. The next steps for this library are knot and degree operations (knot insertion, knot removal, etc) and these will be implemented in this package,

[2017-10-12 15:22] #13 closed

[2017-10-14 16:12] orbingol commented on #7
This feature is implemented but I ran into some other compatibility/integration issues with the other libraries I have been using/developing, so all fixes/improvements + knot insertion (and more if I could find time to test them) will be released in the next major release, v3.0

[2017-10-14 16:12] #7 closed

[2018-01-08 19:16] orbingol opened #15 "JSON Support"
There is an existing code in json-support branch. It needs to be ported to v3.x series.

The documentation and examples should be updated too.

[2018-01-08 19:24] orbingol opened #16 "Implementing mesh and triangle export modes"
Surface points CSV export function `save_surfpts_to_csv` has 5 export modes:

* linear
* zigzag
* wireframe
* triangle
* mesh

However, **triangle** and **mesh** modes have not been implemented yet.

[2018-01-08 19:27] orbingol opened #17 "Update documentation with visualization module and put more examples"
* [Visualization Examples](http://nurbs-python.readthedocs.io/en/latest/figures.html) section in the documentation needs to cleaned up and updated.
* Need to add documentation for the new visualization module

[2018-01-08 19:28] orbingol opened #18 "Putting more details to documentation"
[Visualization Examples](http://nurbs-python.readthedocs.io/en/latest/figures.html) section of the documentation needs to be cleaned up and updated.

[2018-01-08 19:30] #18 closed

[2018-01-11 02:53] orbingol commented on #17
I am updating the `devmaster` branch: http://nurbs-python.readthedocs.io/en/devmaster/figures.html

[2018-01-11 04:51] orbingol commented on #17
Completed updating _Visualization Examples_ section and merged with master: http://nurbs-python.readthedocs.io/en/latest/figures.html

[2018-01-12 01:28] orbingol commented on #17
Completed as v3.0.3

[2018-01-12 01:28] #17 closed

[2018-01-23 17:05] goatchurchprime opened #19 "Wrong exception wording for Curve2D"
[code]
----> ValueError: ERROR: Please input 3D coordinates

Don't you mean "Please input 2D coordinates?"

[2018-01-23 17:41] orbingol commented on #19
Thanks for the heads up @goatchurchprime

I just pushed the fix to `devmaster` branch. It will be fixed on the next release.

[2018-01-23 17:50] goatchurchprime commented on #19
Just a note: I had a lot of problem with this library because somehow I got v2 and v3 installed on my computer, while a colleague I was developing the software for only had v3 on his.

So "import nurbs" worked on my computer, but did not on his.
https://github.com/goatchurchprime/dxf2svg/blob/master/dxf2svg/dxf2svg.py#L15

A real bugger to discover this problem because I didn't know anything of th

[2018-01-23 18:41] orbingol commented on #19
From what you wrote, I feel that I have to explain some things.

I would like to answer your complaints on the name change. I thought that I have clearly indicated the name change on the documentation (http://nurbs-python.readthedocs.io/en/latest/modules.html). I am truly sorry for the inconvenience that the name change caused.

Since, I have received some other complaints, such as "NURBS-Python i

[2018-01-23 18:43] orbingol opened #20 "Problem with NURBS module setters"
It seems that some of the setters in `NURBS.Curve` and `NURBS.Curve2D` don't function as intended.

[2018-01-23 18:45] orbingol commented on #19
I opened #20 for the setter issues.

[2018-01-23 19:22] #19 closed

[2018-01-23 19:22] #20 closed

[2018-01-24 10:03] goatchurchprime commented on #19
Thanks.  I hadn't expected quite such a long reply, but you hit on all the unfortunate events I encountered.  The other critique of the module system is there's not a lot of connection between the X-values of "pip install X" and "import X", so I didn't even get as far as tracking down the docs for this nurbs library and was being confused with something entirely else.

[2018-01-24 11:33] orbingol commented on #19
You are absolutely right about the confusion between "NURBS-Python" and "geomdl" if you consider the pip side. Actually, I have another long story behind it, but, yeah, it is long :) After all, it is already too late to correct it I guess, especially after publicly announcing that `geomdl` is final :)

Just to eliminate confusion, I created a repository with some examples (here: https://github.com

[2018-01-25 09:36] goatchurchprime opened #21 "Linearize curves and surfaces to a tolerance"
It looks like curvepts is made by proceeding at a sample rate of _delta from 0 to 1 proportionally along the whole length of the spline.

For use in CAM we want the geometry subdivided only as far as necessary that the the approximation fits the the curve within the margin of a tolerance value.  Often we will set this to the tolerance of the CNC machine, but we don't want to overdo it, because the

[2018-01-25 15:21] goatchurchprime opened #22 "Calculate cubic splines that best fit the nurbs curves to a tolerance"
This one is more of a challenge (but worth doing).

It would mean that DXF (which contains nurbs) to SVG (which only does cubic splines) will work perfectly.

(BTW, nurbs are an annoyance in CADCAM; cubic splines are smooth enough for all purposes, because you can make them as short as you need to, the GUIs are no longer restricted to moving one control point at a time, and any CAM process needs t

[2018-01-26 04:42] orbingol commented on #16
Fixed in v3.0.13

[2018-01-26 04:42] #16 closed

[2018-01-27 23:36] orbingol opened #23 "Implement obj export"
NURBS-Python v3.0 comes with CSV export functionality with different meshing capabilities. This functionality developed for importing point cloud sets to Paraview or other compatible software.

For the release of NURBS-Python v3.1, exporting surfaces to OBJ files has been planned.

[2018-01-27 23:37] orbingol commented on #23
Surface export to OBJ has been completed and will be merged to `devmaster` branch soon.

[2018-01-31 14:23] orbingol commented on #21
Would using a small delta work for you? You can set is using the `delta` property.

The figure below generated by using a delta value of 0.1

![delta-0_1](https://user-images.githubusercontent.com/5276943/35627846-d10d0464-065f-11e8-8905-a508bf97cbf7.png)

[2018-01-31 14:53] goatchurchprime commented on #21
No.  Just setting a small sample rate generates too many unnecessary segments.  This is a big problem where the nurbs are very flat and straight and your CNC machine chokes on these points when it is built to run smoothly along what is a straight line.

As I said, the optimum for CAM (be it laser cutting or machining) is as few straight segments as possible, but within the deviation tolerance of t

[2018-01-31 15:45] orbingol commented on #21
It seems super easy to implement and definitely there is no need to change any single line of NURBS-Python. The implementation could be even done in a separate package which extends NURBS-Python, and I will definitely advertise it on the README file.

Because I am not currently working on CAM topics and I have extremely limited time due to my PhD research,  I can only start working these next year

[2018-02-02 03:41] #23 closed

[2018-03-19 05:12] orbingol opened #24 "Add X3D import/export support"
The Wikipedia definition for X3D is *a royalty-free ISO standard for declaratively representing 3D computer graphics*. It is possible to find more details on the website www.web3d.org

X3D contains a lot of elements and I believe, for starters, it would be good to include support for the following elements:

* NurbsCurve
* NurbsCurve2D
* NurbsPatchSurface
* NurbsTrimmedSurface

[2018-03-27 18:16] orbingol opened #25 "Add more tests"
The derivative methods are not covered with the existing tests.

Edit: Some other methods are needed to be covered by the unit tests.

[2018-04-19 18:32] wolfysong opened #26 "Utilities - Wrong number of knots"
function generate_knot_vector may generate wrong number of knots

Original code:
    # Middle knots
    knot_vector += [mid_knot for mid_knot in frange(0, 1, spacing)]

number of Middle knots can be one more than expected. A quick fix:
    # Middle knots
    knot_vector += [mid_knot for mid_knot in frange(0, 0.99999999999, spacing)]

[2018-04-19 19:04] orbingol commented on #26
@wolfysong thanks.

It is because of the floating point error caused by division inside the `frange` function. It seems that  python rounds the floating points to the nearest integer value while using `<` and `>` operators, even the floating point is in python's precision range.

What I observed is that it sometimes incorrectly determines the result for less than and bigger than operators when the

[2018-04-21 04:05] orbingol commented on #26
@wolfysong could you check this function with your data? This is from v4.x of NURBS-Python (still work in progress), I haven't had enough time to test thoroughly but it should work, at least till I figure out some solution for `frange` function.

https://gist.github.com/orbingol/76d9f52f1c90afb5d2d201eb4ad14126

[2018-04-23 03:43] orbingol opened #27 "Confusing getters and setters in NURBS class"
It seems that getter-setter structure for control points of NURBS class is confusing to some users. I was trying to follow the notation in The NURBS Book; for B-Splines control points are represented with `P` and for NURBS `Pw`. Some users think that control points setter is for setting `P` and weights setter (which doesn't exist in the current version) is for setting `w`.

The control points gett

[2018-04-25 09:07] houtao-tud commented on #26
Hi, orbingol. I'm wolfysong's phd student, we have update the NURBS-Python package to 4.x-dev.
1: we try to read a txt document with 3000 control points, it shows: ValueError: Input is not a valid knot vector;
2: we decrease the control points to 2500, 2000, 1500, 1000 ,500, it displays the same error, but it successed when 250 control points;(we attached the txt document with 3000 control points

[2018-04-25 13:28] houtao-tud commented on #26
@orbingol I have checked the code on the master branch, but met the same problem.

[2018-04-25 14:07] orbingol commented on #26
Interestingly, it is working for me. Could you please double check that you have all the updates on the master branch?

![3dcurve](https://user-images.githubusercontent.com/5276943/39251044-f4c23e16-4867-11e8-910b-4d7c4234bf68.png)

[2018-04-25 14:56] houtao-tud commented on #26
@orbingol Thanks for your kind help, at first i haven't updates to the master branch, i only try the example code of master version. i have update it again and it is OK now. it is so nice that i can go on my research.

[2018-04-25 15:25] orbingol commented on #26
@houtao-tud thanks for using NURBS-Python and reporting this bug. I have also released a new version on PyPI which contains the updated files.

[2018-04-25 15:25] #26 closed

[2018-04-29 20:58] orbingol commented on #27
I have updated `ctrlpts` and `weights` properties but I have decided to leave `ctrlpts2d` as it is. For NURBS surfaces, `ctrlpts2d` property will accept and return weighted control points, e.g. (x*w, y*w, z*w, w), and for BSpline surfaces only control points, e.g. (x, y, z).

Therefore, there will be no `ctrlptsw2d`.

[2018-04-29 21:01] #27 closed

[2018-04-29 21:44] orbingol commented on #15
I have been thinking to add support for widely-accepted CAD formats for importing and exporting B-Spline and NURBS curves & surfaces. CAD interoperability is a problem and I feel like adding JSON support to NURBS-Python would not do any help for 2 reasons:

* It looks like adding JSON support is implementing another CAD format, which doesn't technically help on the CAD interoperability issue
* Peo

[2018-04-29 21:45] #15 closed

[2018-05-02 20:44] orbingol commented on #25
As of today, included tests have a code coverage around 36%

Coverage report can be checked from here: https://codecov.io/gh/orbingol/NURBS-Python

[2018-05-05 01:25] orbingol commented on #22
Currently, I don't have any plans to implement this feature

[2018-05-05 01:25] #22 closed

[2018-05-05 01:26] #21 closed

[2018-05-05 01:27] orbingol opened #28 "Add support for trimmed surfaces"
The title explains it all.

[2018-05-05 01:30] orbingol opened #29 "Add support for more advanced tessellation methods"
Currently, NURBS-Python includes very simple tessellation algorithms. With the new features coming up in v4.x, it becomes necessary to implement better tessellation algorithms.

I will update this issue later with more details.

[2018-05-07 02:48] orbingol opened #30 "Add support for more visualization libraries"
NURBS-Python provides an optional ``geomdl.visualization`` component for direct visualization of the curves and surfaces generated by the library. Currently, there is only one visualization module ``VisMPL`` which uses Matplotlib for generating the plots.

It could be a good idea to add more visualization options which use different libraries, such as Plotly or OpenGL.

[2018-06-02 19:48] orbingol commented on #30
Plotly implementation is completed and some examples are updated with this visualization implementation.

The documentation has been updated too: http://nurbs-python.readthedocs.io/en/latest/modules_visualization.html

It is always possible to implement more visualization modules but I believe the current 2 options, Matplotlib and Plotly, are good enough for the release of v4.0.

[2018-06-02 19:48] #30 closed

[2018-06-21 06:14] orbingol opened #31 "Add IGES import/export support"
Add import-export support to the `exchange` module for IGES file format.

Reference: https://wiki.eclipse.org/IGES_file_Specification

[2018-06-30 05:46] orbingol commented on #25
Up to now, I was able to get 64% code coverage with 174 tests. These tests are also intended to provide some geometrical validity up to some extent.

I still couldn't get image validation tests working right for checking if visualization system is producing the correct plots.

[2018-07-03 22:41] orbingol commented on #25
At this moment, the automated tests cover over 75% of the code which definitely seems better than the coverage 3 months ago. The algorithms are fully covered by the tests and this is very good news.

I will try to improve code coverage by adding more tests time to time.

[2018-07-03 22:41] #25 closed

[2018-07-29 15:47] orbingol opened #34 "Problems in evaluation of derivative control points"
From #33 @Nodli says

[2018-07-29 15:49] orbingol commented on #34
@Nodli would you elaborate a little on the bug you have found?

[2018-07-29 19:42] orbingol opened #35 "Compute the derivative (hodograph) shape"
With PR #33 `derivatives_ctrlpts` method for computing the control points of the shape (curve and surface) derivative is added to `BSpline` class.

I think it would be a better idea to compute the derivative shape with the control points and knot vectors together, very much similar to how `decompose` method does.

[2018-07-29 19:57] orbingol commented on #34
Issue #35 could also be related to this one.

Additionally, `derivatives_ctrlpts` fails with the error "division by zero" when there are repeated knots in the knot vector. Trying to fix division by zero error caused derivative function to fail. I started to think that The NURBS Book algorithm A3.3  designed to support algorithm A3.4 (derivative algorithm) but not to be used as stand alone function

[2018-07-29 20:30] Nodli commented on #34
This is the issue I was talking about.
I don't think this is a bug after looking into it but it's related to the method.
The last two equations of p.125 are exactly what we are doing and what is expected: when two subsequent weights are equal, the weight of the derivative control point is zero which raises the "division by zero" error when trying to evaluate it to non-rational coordinates.
I did n

[2018-07-30 01:05] orbingol commented on #34
From what I understand from chapter 4, I can say that they are computing C(u) and S(u,v) from Cw(u) and Sw(u,v). Well, simplifying everything to this only sentence may not be that correct but the authors (and the majority of the other researchers) use weights as shape modifications tools, like a supplement to what we define with (x,y,z). This also correlates to the main purpose of the "rational" c

[2018-07-30 17:07] Nodli commented on #34
I did some research on this today and it seems you were right.

Details about what i am saying are in this paper "Evaluation and properties of the derivative of a NURBS Curve", S. Floater (https://pdfs.semanticscholar.org/23cf/5b46ea38dd321c525bf952bde459dbf1be33.pdf).

The equation from the book comes from the "hodograph formula" for non-rational Bezier and BSplines (Eq (5) p.6 in the paper) by i

[2018-07-30 18:02] orbingol commented on #34
Thanks @Nodli for the research.

So it turned out that there are no bugs and I guess we can close this issue.

[2018-07-31 18:40] #34 closed

[2018-10-01 05:30] orbingol commented on #28
v4.3.0 will be released with basic support for trimmed surfaces. Please see #29 for tessellation algorithms.

[2018-10-10 18:31] BinWang0213 commented on #28
Hi,

Is there any plan or idea to support surface-surface intersection? I think this Boolean operation somehow related to trimmed surfaces.

Thanks for your nice code,
Bin

[2018-10-10 19:39] orbingol commented on #28
@BinWang0213 thank you very much for your question.

Let me explain what I understand from surface trimming. To trim a surface, we introduce closed curves on the parametric space of the surface. These curves can be NURBS - B-Spline curves or analytic curves (circle, square, rectangle, etc.) and they are called trimming or trim curves. Since the trimming curves are 2-dimensional and trim curve poin

[2018-10-11 16:12] BinWang0213 commented on #28
Thanks for you rapid reply. Looking forward to see the updates in the future.

[2018-10-19 22:01] orbingol commented on #35
Added `operations.derivative_curve()` and `operations.derivative_surface()` functions with the release of v4.3.2

Please see the following link for more details: https://pages.mtu.edu/~shene/COURSES/cs3621/LAB/curve/1st-2nd.html

[2018-10-19 22:01] #35 closed

[2018-11-02 02:59] orbingol opened #36 "operations.translate() does not translate multi curves and surfaces"
Make `operations.translate()` compatible with `Multi` module

[2018-11-02 04:50] #36 closed

[2018-12-17 17:32] nikorose87 opened #37 "Cannot export evalpts"
Hey buddy,

I assume you have a bug trying to export the `evalpts`, in the function `_export_txt` you have the following:

[code]
I modified the lines so that the function reads the evalpts to write instead the control points. Otherwise you will write the ctrlpts always.

[code]
Am I wrong?

[2018-12-17 18:30] orbingol commented on #37
Well, `exchange.export_txt` was never intended to export evaluated points but only control points. We needed it in that way for some compatibility reasons with the existing libraries we use.

On the other hand, you can use `export_csv` to export evaluated points and the control points. There is a minor difference between `export_csv` and `export_txt` and therefore, these functions were refactored

[2018-12-17 19:01] nestarz opened #38 "Any Pure-Python CSG/CAD lib good interoperability ?"
Hello @orbingol and others !

Thanks very much for your work, hope to contribute !

I'm building a pure-python serverless (AWS Lambda) STL object generation tool for creative coding, and I was wondering if you knew if NURBS is intended to do CSG operations or if there is a good library that is also pure-python and works well with NURBS-Python.

Thanks again,
Elias

[2018-12-18 02:01] orbingol commented on #37
I now understand what you mean. It seems that the following API call on v4.4.1 returns the control points instead of evaluated points.

[code]

I guess for now, you can safely downgrade to version v4.3.8 temporarily. I have started updating exchange module on v4.4.x series and that should be the problem.

Thanks for reporting the bug :) I will release an updated version (with the proper unit tests

[2018-12-18 07:04] orbingol commented on #37
Would you test it again with the version 4.4.2 @nikorose87?

[2018-12-18 13:11] orbingol commented on #38
Hi Elias,

Your project looks really interesting. I think it is possible to use NURBS in creative coding but depending on what you plan to do, the amount of work might change. What I understand from CSG operations is "Boolean Operations", such as union and intersection. Here, it might be good to say that there are some differences between parametric modeling (NURBS) and solid modeling (BRep, CSG).

[2018-12-18 13:37] nikorose87 commented on #37
The issue was solved. Thanks

[2018-12-18 13:43] nikorose87 commented on #37
The issue was solved. Thanks

[2018-12-18 13:48] orbingol commented on #37
Great :) Thanks again for reporting the bug.

[2018-12-18 13:48] #37 closed

[2018-12-21 14:22] bunterWolf opened #39 "CAD File import for Blender"
Hi orbingol,

Commercial 3D programs like Cinema 4D and Maya can import, tessellate and render CAD data. Unfortunately [Blender](https://www.blender.org/) does not have this possibility. But I believe that this will be of great importance for this software. That's why I'm trying to figure out how something could be made possible in this direction. Thereby I came across Nurbs Python.

Do you believ

[2018-12-23 22:20] bunterWolf commented on #39
Thank you very much for your detailed answer. :)
I expected something in this direction and I will probably accept that a mesh from a iges or step is not to get. I have to limit myself to obj, fbx and 3ds for further steps.

______
My thoughts only for you, if you find it interesting in general ;)

I have seen that you are working on an IGES import and there is already an OBJ export. My thought wa

[2018-12-24 05:46] orbingol commented on #39
@bunterWolf thank you so much for the links :) They will be good reference for me and the others.

Unfortunately, I don't think I will be able to find time for developing IGES (#31) or X3D (#24) importer/exporter for the next release of NURBS-Python. It is still possible to use external libraries for importing and exporting these formats (like I do for .3dm format); however, there are no shortcut

[2018-12-25 11:40] bunterWolf commented on #39
I'd like to go deeper, but I'm a designer with some programming skills. The whole mathematics is unfortunately too advanced for me...
I expect that the Step topic in Blender will still exist for another 2 years, maybe something has come up by then.

Thank you very much for your time and your tips! :)

[2018-12-25 11:40] #39 closed

[2019-01-16 16:53] orbingol commented on #38
I am closing this issue now. If you need to discuss anything, feel free to reopen it @nestarz

[2019-01-16 16:53] #38 closed

[2019-01-25 07:38] abhishekpandey07 opened #41 "VTK renders are very noisy compared to MPL renders"
**Describe the bug**
The VisVTK Visualisation module renders partly deformed surfaces. VisMPL module works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. fit a point cloud.
2. set delta to 0.02
3. render using VTK
4. See error

**Expected Behavior**
The VisVTK module should render the surfaces as they are.

**Configuration:**
 - OS: Ubuntu 18.10
 - Python distribution: Anaconda

[2019-01-25 17:12] orbingol commented on #41
The reason for this problem is that geomdl MPL renderer uses a custom tessellation algorithm instead of Matplotlib's integrated QHull library but geomdl  VTK renderer uses the default Delaunay triangulation filters which come with the VTK library itself. It is also possible to observe a similar error when a cylindrical or a conical surface is rendered.

Actually, I wouldn't consider this issue as

[2019-01-25 17:20] abhishekpandey07 commented on #41
Alright, Thanks for making that clear.

[2019-02-16 07:47] #28 closed

[2019-02-21 03:26] Mitch981521 opened #42 "Can't Import Fitting Module"
**Describe the bug**
A clear and concise description of what the bug is.

After installing NURBS-Python using pip, when I try to import the "fitting" module, I get an error saying "cannot import name fitting"

**To Reproduce**
Steps to reproduce the behavior:
1. Execute "pip install geomdl" install command
2. Copy or download the following example from NURBS-Python_Examples:   NURBS-Python_Example

[2019-02-21 07:01] orbingol commented on #42
Fitting module is not available in v4.x. Try installing the latest beta version of v5.x, e.g. `pip install geomdl==5.0b7`

You can find the list of releases here: https://pypi.org/project/geomdl/#history

[2019-02-22 01:45] orbingol commented on #42
I've released geomdl v5.0.0 today. `pip install geomdl` should install the latest version correctly.

[2019-02-22 01:45] #42 closed

[2019-02-22 17:41] Mitch981521 commented on #42
thank you

[2019-02-22 17:59] Mitch981521 opened #43 "Typing Module Not Found"
**Describe the bug**
After installing NURBS-Python using pip, when I try to import the "fitting" module, I get an error saying

" from geomdl import fitting
    from typing import Any, Sequence, List, Tuple
ImportError: No module named typing"

**To Reproduce**
Steps to reproduce the behavior:
1. Execute "pip install geomdl" install command

2. Copy or download the following example from NURBS-Pyt

[2019-02-22 19:44] orbingol commented on #43
@Mitch981521 you don't need to update Python because Ubuntu 16.04 comes with Python 3 too (via `python3` and `pip3` commands). Since Python 2 will be deprecated in January 1st, 2020 ([ref1](https://pythonclock.org/), [ref2](https://www.python.org/dev/peps/pep-0373/#id4), [ref3](https://python3statement.org/)), I would suggest using Python 3 if you have no specific Python 2 dependent modules.

geom

[2019-02-23 03:19] orbingol opened #44 "Update degree elevation and reduction functions"
As of geomdl v5.0.x, control points computation parts of the degree elevation and reduction algorithms are implemented in `helpers` module and they are working. On the other hand, the API call responsible for degree elevation and reduction (`operations.degree_operations` ) is still not working.

`operations.degree_operations` function should be updated with the correct algorithms and should be tes

[2019-02-28 01:19] orbingol commented on #43
I think this issue has been resolved. Let me know if experiencing any problems.

[2019-03-01 01:14] danielj195 commented on #43
I've been using it on a virtual environment because I was unaware that I had python3.  No issues so far!

[2019-03-01 22:59] Mitch981521 commented on #43
@orbingol If there is a way to make it work with Python 2, that would be greatly appreciated.  We are wanting to use this package as part of a program that will be run on ROS (robot operating system), which  unfortunately is not yet implemented for Python3.

[2019-03-02 01:48] orbingol commented on #43
@Mitch981521, I couldn't understand the problem. Are you still having the same issue? @danielj195  says it is working fine? Because, I was able to run it on Ubuntu 16.04 with Python 2.7.12.

If we go into the details, you were having a very simple issue which could be solved by running `pip install typing` but it should have been installed with the geomdl package. I fixed the packaging issue and i

[2019-03-11 04:05] Mitch981521 commented on #43
Hi @orbingol , sorry for the late reply.  I used pip to install typing and got it to work.  Thanks!

[2019-03-11 04:13] #43 closed

[2019-03-11 04:36] Mitch981521 opened #45 "Vertex data faulty conditional?"
**Describe the bug**
When I am importing my data using the NURBS module, the data setter in elements.py appears to unnecessarily give the following error:

raise ValueError("Vertex can only store 3 components")

**To Reproduce**
Steps to reproduce the behavior:
1.  Put the "nurb_vertex_bug" and data file into the same directory.
2.  Modify the path to the data file in the import function in the "n

[2019-03-11 05:14] orbingol commented on #45
The library follows the notation described in The NURBS Book by Piegl and Tiller. A NURBS surface accepts weighted control points by default as the control points input.  The NURBS Book calls it `Pw` which simply corresponds to a list of `(x * w, y *w, z * w, w)`. On the other hand, A B-Spline surface accepts control points in the format `(x, y, z)` and The NURBS Book calls it `P`.

Since you are

[2019-03-11 18:14] Mitch981521 commented on #45
thank you for the prompt reply!  that makes sense, thank you

[2019-03-11 18:23] #45 closed

[2019-03-11 21:04] orbingol commented on #41
I've pushed a fix on `devmaster` branch and tested with a couple of multi-surface objects. It seems to work fine.

[2019-03-12 18:51] orbingol opened #46 "Add more keypress events to VTK visualization module"
The following list is available directly from the default `vtkInteractorStyle` used:

* `e`: exit the application
* `p`: pick object (hover the mouse and then press to pick)
* `f`: fly to point (click somewhere in the window and press to fly)
* `r`: reset the camera
* `s` and `w`: switch between solid and wireframe modes

It would be nice to add option to change visibility of some other elements,

[2019-03-15 03:29] Mitch981521 opened #47 "Questions about Derivative Evaluation"
**Describe the bug**
Similar as before, this may be more of a question (I'm not sure how to change the label).  I'm needing to evaluate the partial derivative of a surface at a given point.  When I use the "derivatives" evaluator for surface, the output I get doesn't appear to match the form shown in The NURBS Book and the values do not match what I'm expecting.  Any help would be greatly apprecia

[2019-03-15 04:21] orbingol commented on #47
I am pretty much sure that the derivatives are working as accurate as it could possible and I don't think you mean to say that derivatives are not working. If so, please provide a proof showing the exact error using a comparable floating point precision.

Regarding to your question, I was wondering if you have checked the documentation. I have a strong feeling that you will find the answer there:

[2019-03-15 04:32] orbingol commented on #46
Just updated the original issue with the list of available `vtkInteractorStyle` keypress events. I have added the following custom keypress events:

* `b`: change background color
* `l`: change color of the picked object
* `d`: print debug information (of picked object, point, etc.)
* `h`: change object visibility
* `n`: reset object visibility
* `arrow keys`: pan the model

They are documented he

[2019-03-15 20:40] Mitch981521 commented on #47
I did check the documentation (even the pdf online) and it says that SKL[0][1] corresponds to the first derivative with respect to v, SKL[0][2] second derivative wrt v, etc.  I'm more confused why each of the elements in SKL is a list....shouldn't the partial derivatives just be floats?  The page I showed above shows an element of SKL being assigned a float, so that's also why I'm confused.  Do yo

[2019-03-16 00:31] orbingol commented on #47
I understand why you are getting confused. Let me answer your questions separately.

`SKL` is actually a 2-dimensional list of `h` values where `h` is a 3-dimensional list, corresponding to the results of the derivative operation.

I think you are completely forgetting that you are trying to compute a derivative of a 3-dimensional point and you also have a bug in your statement. I understand that

[2019-03-16 01:42] Mitch981521 commented on #47
Thank you very much for the detailed answer.  Yes, I was thinking that the function was supposed to return the derivative on the parametric space on the surface, not euclidean space.  I also did not realize P is 3-dimensional, so that's why I was thinking everything was float.  I should've thought about gradient....I don't know why I didn't see that.

What I am needing is dz/dy (trajectory tangent

[2019-03-16 03:07] orbingol commented on #47
This issue looks resolved. Closing it.

[2019-03-16 03:07] #47 closed

[2019-03-22 19:04] orbingol commented on #41
This issue is fixed with the release of geomdl v5.2.0

[2019-03-22 19:04] #41 closed

[2019-03-23 04:18] orbingol opened #48 "Improve performance of the visualization modules"
Visualization modules in NURBS-Python were never intended to be a part of the core library. In the beginning, they were added to visually debug the evaluation results in a faster way. Therefore, they weren't designed to be efficient but just visualize whatever sent to them from the `render` method. When needed, they received some upgrades and new features and these are are mostly connected to the

[2019-03-23 04:19] #46 closed

[2019-04-17 11:17] Tcll commented on #48
Hey if you need help here, I can provide some meta-performance tips to help improve your general python code :)

eg:
- use `__slots__` to reduce a class's memory footprint/consumption.
(this is not ideal for small situations with under 100 total (all classes combined) instances)

- avoid the dot operator when inside a loop where possible (`__gtattr__`/`__getattribute__` is slow).
(in some cases li

[2019-04-17 23:48] orbingol commented on #48
@Tcll thank you so much for your suggestions. I am aware of all these facts and their pros and cons. Some of them are there for simplification and documentation purposes. Some of them are there because I was asked to. Some of them are there for fixing the compatibility issues and make some algorithms compatible. Before geomdl v3.0, I also had to consider backward compatibility issues with an anoth

[2019-04-18 01:03] orbingol commented on #48
I wasn't going to add more comments but just for curiosity, I have checked the code again. When I had the issues (those that I don't remember, it has been a really long time), I was using `six.with_metaclass` function for `ABC` compatibility. I have replaced it with `six.add_metaclass` decorator which works way better than `with_metaclass`. I think I can go back and implement the `__slots__` logic

[2019-04-18 01:37] Tcll commented on #48
Ah I see, I guess that makes you the first highly experienced pythonist I've run into since 2015 or so :D

honestly, I would contribute, but as you can probably guess, I'm into quite a few of my own large projects already, practically swimming on my plate... lol
but I don't mind providing advice and maybe a few small improvement suggestions here and there :)

and yes, I do know about alternatives

[2019-04-18 02:51] orbingol commented on #48
All comments, suggestions, bug reports, "I just wanted to say hi", short (but not too short), long, super long messages are always welcomed :) I am good with GH issues as long as people don't mind posting publicly, My email is also open for any kind of discussions (long or short doesn't matter): contact@onurbingol.net

Actually, PyPy 32bit version for Windows is available for download. I have trie

[2019-06-04 11:33] carthurs opened #49 "Normal vectors to curves are incorrect."
Normals to curves are incorrect.

I've created a patch for this - basically the assumption in `_operations.py` under `normal_curve_single()` is false: `# 2nd derivative of the curve gives the normal`

The patch only addresses this one case, but I'm sure the bug occurs elsewhere in the library. Happy to provide what I've done.

Unpatched output, plotting the normals at 3 points on a curve:
![image]

[2019-06-04 15:54] orbingol commented on #49
Would you also check if it occurs any other place and make a PR against `devmaster` branch?

[2019-06-04 18:06] carthurs commented on #49
PR #50 made - I think there's still work to do, but it fixes that one case and should not impact other cases (i.e. 3D curves). Probably need a fix in 3D too.

[2019-06-05 06:19] orbingol opened #51 "Getters and setters related to control points should use the new Manager classes"
Currently, `ctrlpts`, `ctrlptsw` and `weights` properties accept a list of points (or values) and the order of the points are described in the documentation. Addition of B-Spline and NURBS volume geometry type makes setting of the control points a little bit confusing. The users do not need to know the internal structure of the library and it also serves to the purpose of geomdl: keeping the thing

[2019-06-05 06:29] orbingol opened #52 "Add derivative evaluator for volumes"
- [ ] Add derivative evaluation code to the volume evaluator classes
- [ ] Add corresponding method to the `Volume` class
- [ ] Write tests

[2019-06-06 14:16] jovobe opened #53 "`ZeroDivisionError` on large bézier knotvectors"
**Describe the bug**
A `ZeroDivisionError` occurs with the message "float division by zero".

**To Reproduce**
Steps to reproduce the behavior:
Run the following example:
[code]
**Expected Behavior**
This should yield a Bézier curve, right?

**Configuration:**
 - OS: macOS 10.14.5
 - Python distribution: brew
 - Python version: 3.7.3 64-bit
 - geomdl install source: PyPI
 - geomdl version/branch:

[2019-06-06 16:53] orbingol commented on #53
The knot vector given is for `degree = 4` because number of zeros and ones should be `degree + 1` to generate a Bezier curve. If `degree = 4`, then using the equation on p.82 of The NURBS Book `m = n +p + 1`, we can see that input number of control points is 1 bigger than the required one. On the case of `degree = 4` and a Bezier curve, removing 1 control point should work fine. Otherwise, set `de

[2019-06-06 17:05] orbingol commented on #53
Well, actually there is nothing to do for the `m = n + p + 1` checking in the library. It is working correctly but your unique combination of degree, number of control points and size of knot vector (even they are wrong) just fits to the equation:  m = n + p + 1 => 10 = 3 + 6 + 1

[2019-06-06 17:23] jovobe commented on #53
Okay than, even if it does not yield a Bézier curve the example should work, right? Because it is still a valid B-Spline curve.

[2019-06-06 17:46] orbingol commented on #53
I don't think so.

[2019-06-06 17:53] jovobe commented on #53
Why not? All rules are respected. It is a simple three degree B-Spline curve with six ctrlpts and a decreasing knotvector. This is absolutely legal if you follow Piegls book.

[2019-06-06 20:40] orbingol commented on #53
What you are missing is the equality `m = n +p + 1` is only one of the long set of rules. As you said, the stability of the B-Spline evaluation depends on all the rules to be satisfied. Satisfying only one rule is not enough.

[2019-06-06 23:01] jovobe commented on #53
Could you be a little more specific? Which assumption is not fulfilled?

[2019-06-07 15:57] orbingol commented on #53
I am guessing you want some academic reference. Usually, this is the part where all the libraries and books "leave the proof to the reader" because it can get a little bit messy to explain. I remember reading about this situation related to the concept of knot multiplicity in some pre-1990 paper (or a book). Unfortunately, I don't have access to these references right now. On the other hand, not a

[2019-06-07 15:57] #53 closed

[2019-07-10 15:39] Thompson104 opened #54 "Problem: evaluate the Hessian matrix in the XYZ coordinate"
Hi,

I'm a PhD student in mechanical engineering so my questions may appear trivial to you. But from my experience with the NURBS library, I couldn't get the Hessian matrix of a curve with respect to the XYZ coordinate. It appears to me that the NURBS evaluates the derivative in the arc-length parameterized coordinate.

For example, I used NURBS to reconstruct a circle and the 1st derivative at on

[2019-07-10 21:43] orbingol commented on #54
In NURBS, derivatives are evaluated w.r.t. the parametric space; i.e. `dC(u) / du` where `C` is the B-spline curve. Curves are defined in a 1-D parametric space, `u`. For surfaces, it is 2-D; `u` and `v` and for volumes, it is 3-D; `u`, `v` and `w`. The methods take these parameters as the input but not x, y, z. The parameterization doesn't have to be dependent on the arc length but it can too.

I

[2019-07-11 02:44] #49 closed

[2019-07-20 05:01] #54 closed

[2019-08-21 15:46] orbingol commented on #31
It takes a lot of time to add file support without using any libraries. On the other hand, there is no need to reinvent the wheel. Very much like [rw3dm](https://github.com/orbingol/rw3dm) for Rhino files and [rwsat](https://github.com/orbingol/rwsat) for ACIS files, IGES support will be added to a separate module and there will be an option to convert between geomdl JSON format and other CAD file

[2019-08-21 15:46] #31 closed

[2019-08-21 15:47] orbingol commented on #24
It takes a lot of time to add file support without using any libraries. On the other hand, there is no need to reinvent the wheel. Very much like [rw3dm](https://github.com/orbingol/rw3dm) for Rhino files and [rwsat](https://github.com/orbingol/rwsat) for ACIS files, X3D support will be added to a separate module and there will be an option to convert between geomdl JSON format and other CAD file

[2019-08-21 15:47] #24 closed

[2019-08-23 21:07] cshorler opened #57 "ray.intersect tolerance is unrealistic"
**Describe the bug**
The default tolerance (tol=) of the ray.intersect is set smaller than the machine epsilon.  Leading to RayIntersection.SKEW results (sometimes incorrectly)

**To Reproduce**
test case in my fork branch and workaround:
https://github.com/cshorler/NURBS-Python/tree/relax_ray_intersect_tolerance
(need to rebase this on master if PR is required before integrating other PR - happy

[2019-08-24 02:54] orbingol opened #58 "Complete trimming module and improve surface trimming operation"
* Trimming module documentation requires more examples
* Surface trimming operation + trimmed tessellation requires improvement

[2019-08-24 03:00] orbingol commented on #57
Thanks @cshorler but I couldn't see any commit related to change in the tolerance value. Would you please create a PR against `devmaster` branch? I might be able to merge a small change in the next minor release.

[2019-08-24 11:11] cshorler commented on #57
Okay, will do

On Sat, 24 Aug 2019, 04:01 Onur Rauf Bingol, <notifications@github.com>
wrote:

[2019-08-25 23:59] orbingol commented on #57
PR #59 is merged as a temporary fix for geomdl v5.x. PR #60 will be considered for the next major release.

Thank you very much for your contributions @cshorler. I will add your name and GitHub handle to the contributors list.

[2019-08-26 15:41] cshorler commented on #57
thanks!

[2019-09-03 04:49] orbingol opened #61 "Improve evaluators module API and its documentation"
`evaluators` module API looks very complicated and probably misunderstood. There are also improper uses of keyword arguments. The complicated structure of the API should be fixed and its documentation should be improved.

[2019-09-10 03:04] orbingol opened #62 "Improve documentation for curve and surface fitting"
Received an email about curve and surface fitting operations not clearly explained in the documentation. Needs improvement.

[2019-09-10 22:42] #61 closed

[2019-09-10 22:43] orbingol commented on #62
Fixed with the release v5.2.9

[2019-09-10 22:43] #62 closed

[2019-09-15 01:20] silentmissile opened #63 "a line seems useless"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Configuration:**
 - OS: [e.g. Windows 10, Ubuntu 18.10]
 - Python distribution: [e.g. OS default, python.org, Anac

[2019-09-16 17:00] orbingol commented on #63
@silentmissile I couldn't understand whether this is causing a computational problem or not.

[2019-09-17 06:33] silentmissile commented on #63
this line won't cause any mistake in computation, it just occupies some more memory and a little more computation load

if you remove line 441 and reduce the length of cds equal to points length, the code would slightly accelerate a little speed

by the way, if anybody else wants to develop base on your code, for example algorithm A9.6 in section 9.4.2 in the reference book, my proposal would make

[2019-09-17 15:42] orbingol commented on #63
I was thinking that I have already achieved that. I don't even change the variable names when I implement the algorithms :) But, there is always a difference between an algorithm and an implementation. For instance, using Python's list comprehension, it is possible to code a single line which refers to a small-medium for loop.

Another thing is that I don't think there is an implementation of Algo

[2019-09-17 15:53] orbingol opened #64 "Implement fitting algorithms that use derivatives"
As discussed in issue #63, provide implementation of the Algorithm A9.6 on pp 417-418 of The NURBS Book.

[2019-09-18 12:23] orbingol commented on #63
I had a chance to take a deep look at what you suggested. You are definitely right, `compute_params_curve` needs some optimization but according to my tests, what you proposed actually changes the stored values in the array and affects the fitting results.

`fitting` module also needs some improvements but there won't be any in geomdl 5.x. I will work on those for geomdl 6.x. Contributions are alw

[2019-09-18 12:23] #63 closed, assigned to nobody

[2019-09-26 09:58] VanDer-Wang opened #65 "NURBS is not correct when applied a weight vector. if the weight vector is not all 1."
from geomdl import NURBS
from geomdl import compatibility as compat

crv = NURBS.Curve()
p_ctrlpts = [[1, 1], [2, 1], [3, 0], [4, 4], [3, 9], [10, 2]]
p_weight = [1, 1, 1, 1, 3, 1]

t_ctrlptsw = compat.combine_ctrlpts_weights(p_ctrlpts, p_weight)

after, Weight = compat.separate_ctrlpts_weights(t_ctrlptsw)

crv.degree = 2
crv.ctrlpts = t_ctrlptsw
crv.knotvector = [0, 0, 0, 1, 2.5, 3, 5, 5, 5]
crv.

[2019-09-26 10:02] VanDer-Wang commented on #65
Hope I didn't make any mistake. I just found the coordinates changed with the weight vector. That shouldn't happen, right?  Hope you can give me some help. thank you !

[2019-09-26 15:16] orbingol commented on #65
@DeathGun007 I couldn't understand why you are using the following code:

[code]

It feels completely unnecessary as your points and weights are already in separate lists.

The following code will be enough for the example given:

[code]

assuming that `p_ctrlpts` is a list of `(x, y)` but not `(x * w), (y * w)` where `w` is the weight associated with the control point.

There is also a wiki page

[2019-09-27 01:28] VanDer-Wang commented on #65
Thank you so much! You really help me out.

[2019-09-27 08:33] orbingol commented on #65
@DeathGun007 you are welcome! It seems that everything is clear now and I am closing this issue. Please feel free to open a new issue if you have more questions.

[2019-09-27 08:33] #65 closed, assigned to nobody

[2019-09-27 10:27] akfhr opened #66 "Sphere import from rhino"
Im new to geomdl, facing some problems with importing primitives like e.g. a sphere.

The sphere is displayed in Rhino correctly.
However, after converting the 3dm file with on2sjon, and importing again with geomdl, the gemeotry is significantly different from what I would expect:

import os
from geomdl import NURBS
from geomdl import exchange
from geomdl.visualization import VisMPL as vis

# Impo

[2019-09-27 11:00] orbingol commented on #66
The problem is most probably related to how geometry is exported from the Rhino file but not geomdl itself. Would you please open an issue in `rw3dm` project?

[2019-09-27 14:09] akfhr commented on #66
Dear orbingol,
I've opend an issue there. Thanks!

[2019-09-27 14:48] #66 closed, assigned to nobody

[2019-09-29 18:36] cshorler opened #67 "NURBS derivatives"
I made a test of NURBS derivatives using a circle, I don't believe the outputs to be correct (see picture).  I also note that NURBS derivatives are documented in more recent papers than the NURBS book - so perhaps this isn't expected to work.

I'll provide a test for this at the next opportunity

Manually (Tested on Linux & Windows, Python 2 & 3):

1. Create a 7pt NURBS circle (also not convinced

[2019-09-29 18:46] cshorler opened #68 "Slicing"
I have a piece of code which calculates control points for an arbitrary arc using vector calculus.  One possible way to achieve outputs is to pre-calculate nice fraction angular sector weights (e.g.  1/2).  Only calculating the final weight explicitly, possibly this isn't a good approach for distributing the error - but what's notable is slicing is not supported, so you have to workaround this - m

[2019-09-30 12:06] orbingol commented on #67
I think there is a problem with the weights (or weight assignments corresponding to the control points). Would you please provide the code that generates this figure?

Edit: I understand the problem. The problem with the NURBS derivative geometries generated like this is the equation/algorithm used to find the control points of the derivative curve/surface not working with the weights. There is a

[2019-09-30 14:54] orbingol commented on #67
@cshorler I just forgot to mention the Evaluator interface ([ref](https://nurbs-python.readthedocs.io/en/latest/module_evaluators.html)). It allows using different algorithms for computing points and derivatives with minimal changes to the base classes. I'd suggest implementing a new evaluator class for any new/updated algorithms.

[2019-10-01 20:24] cshorler commented on #67
The rendering in matplotlib looks okay to me, it's the control point coordinates that look wrong to me - the triangle sides are not of equal length.

w.r.t. Derivatives it would be good for me to better understand why this derivatives issues occurs ... so I will try for a deeper understanding and explore alternate evaluator implementations.

For reference here's similar code to what was used to ge

[2019-10-01 20:28] cshorler commented on #68
now successfully passes the test I wrote

[2019-10-01 21:02] cshorler commented on #51
What I've just looked at using NotifyList for ctrlpts could offer another potential approach - pseudo code

[code]

The tuple replaces the individual accessors, unpacking as for any other tuple.  Some additional protection `CPList` would give a more specific `TypeError` if getting your indexing wrong to a coordinate level

Subclassing tuple would be a easy way to provide a smart object wrapper dir

[2019-10-02 02:35] orbingol commented on #67
Thank you for sharing the code @cshorler. I'll test it in a couple of days.

I tried that once but it seems like an impossible job :) Pretty much all the visualization libraries that I used in Python requires Numpy in some way. No need to worry about that.

Just a note for myself: I need move `vis.py` to `visualization` package to fix compatibility/dependency issues with Cython-compiled version of

[2019-10-02 05:33] orbingol commented on #51
I am not sure what you mean by NotifyList but what the container needed to store control points is something like `list<float>`. Direct subclassing of Python's `list` is possible but then the majority of the methods is needed to be overridden to make sure the data structure and the type is valid.

For instance, that specific subclass needs to store some additional fields, such as spatial dimension

[2019-10-07 14:45] orbingol commented on #68
Thank you @cshorler. I think slicing feature will be a nice addition to geomdl.

[2019-10-12 13:14] cshorler commented on #68
I'll submit a PR for v6, a little difficult now a number of tests are failing on the branch 6.x-dev.  I guess you're in the middle of some changes.  I'll try skipping some commits of my current base to allow the rebase to work.
[code]

[2019-10-13 03:24] orbingol commented on #68
`6.x-dev` is very unstable at the moment. I am doing some major refactoring to simplify some algorithms which will improve the performance in general. I will post a list of current and future changes for `6.x` in a couple of days. so you will be able to track the details.

I think it would be easier for you to work with 5.x series for now, a.k.a. `devmaster` branch. If you can keep the changes sep

[2019-10-13 09:30] cshorler commented on #68
seems to work on 6.x-dev, see PR opened.  Also, the NofityList mentioned in the comment on your other enhancement is used in the implementation.

[2019-10-13 10:05] orbingol commented on #68
Would it be possible to create a separate PR for the NotifyList implementation?

[2019-10-15 05:41] cshorler commented on #68
Will do!

On Sun, 13 Oct 2019, 11:05 Onur Rauf Bingol, <notifications@github.com>
wrote:

[2019-10-15 10:23] selvakarna opened #70 "How to save Surface as CAD Support file IGS/STEP ?"
How to save Surface as CAD Support file IGS/STEP ?

[2019-10-16 00:56] orbingol commented on #70
Exporting to IGES and STEP feature is still work-in-progress.

[2019-10-16 03:25] selvakarna commented on #70
Can you share sample of step export from surface or mesh ?

algorithms?

[2019-10-16 16:03] orbingol commented on #70
I don't think it is wise to share a bunch of undocumented Python and C++ code and expect people to figure out what is what. If you are in rush, you may want to check [STEPcode](https://github.com/stepcode/stepcode). STEPcode is unrelated with geomdl, so please refer to their documentation for more details.

[2019-10-17 07:31] silentmissile commented on #70
you can try to use FreeCAD

https://anaconda.org/search?q=freecad
the package follows newest Anaconda

here is some example code, you can refer to it
https://forum.freecadweb.org/viewtopic.php?f=22&t=38218&p=325619&sid=903589966cb65fc527f65ce3c1812b1a#p325619

or you can try pythonocc
https://github.com/tpaviot/pythonocc-core

it has some recent comments, but the last formal release was 2 years ag

[2019-10-17 09:58] selvakarna commented on #70
Hi @silentmissile , above link also have issue in installation .

https://forum.freecadweb.org/viewtopic.php?f=22&t=38218&p=325619&sid=903589966cb65fc527f65ce3c1812b1a#p325619

or you can try pythonocc
https://github.com/tpaviot/pythonocc-core

[2019-10-17 13:28] orbingol commented on #70
I am guessing that this issue is somewhat resolved. Hopefully, I will also release an option for exporting/importing IGES and STEP files very soon :)

[2019-10-17 13:28] #70 closed, assigned to nobody

[2019-12-03 19:04] virtualritz opened #72 "Support export of NURBS as NURBS via OBJ format"
Apparently NURBS Python converts NURBS geometry to triangle meshes on export to OBJ.
This implicit conversion is nowhere mentioned in the documentation. There should be a big warning box added.

Wavefront OBJ supports (trimmed) NURBS geometry. See e.g. [a copy of the format description at Paul Bourke's website](http://paulbourke.net/dataformats/obj/).

Software that can read (and write) such OBJ f

[2019-12-03 23:51] virtualritz opened #73 "Quadratic surfaces get rendered as cubics"
I'm trying to render [a JSON file](https://github.com/orbingol/NURBS-Python/files/3919237/sphere.json.zip).

This is a unit radius NURBS sphere generated in Rhinoceros and converted from OpenNURBS to JSDON via `on2json`.

Importing & exporting this as a JSON again with NURBS-Python yields a perfect sphere. So the data seems to be handled correctly.

However, when visualized/rendered via `geomdl.vi

[2019-12-03 23:53] virtualritz commented on #73
On that note: fixing this may present a good opportunity to ensure that higher order surfaces – tetrics, quintics, hexics, etc. – get visualized correctly.

[2019-12-04 03:04] orbingol commented on #73
Have you tried to change surface evaluation delta ([docs](https://nurbs-python.readthedocs.io/en/latest/module_bspline.html#geomdl.BSpline.Surface.delta)) to something smaller, e.g. 0.01?

[2019-12-08 01:34] MarkRause commented on #43
I get this same issue
I have tried everything

!pip install --user C:\3DCode\NURBS-Python-master
Processing c:\3dcode\nurbs-python-master
Building wheels for collected packages: geomdl
  Running setup.py bdist_wheel for geomdl: started
  Running setup.py bdist_wheel for geomdl: finished with status 'done'
  Stored in directory: C:\Users\aura\AppData\Local\pip\Cache\wheels\89\dd\90\740280006b3d633e

[2019-12-09 20:43] orbingol commented on #43
It looks like a completely different issue and I think it is not related to `geomdl` at all. It could be a `PYTHON_PATH` problem or something else. Please refer to the following doc page for help:

https://nurbs-python.readthedocs.io/en/latest/q_a.html#help-and-support

[2019-12-18 16:30] virtualritz commented on #73
If I set the delta to this value the script never even opens the window. It seems to be hanging. I stopped the process after 5mins.

Output:
[code]

[2019-12-18 16:34] virtualritz commented on #73
Ok, I let it run and after 6mins I get this image – same bug, just denser tessellation. This does still look like a quadratic being rendered as a cubic.
<img width="1072" alt="Screen Shot 2019-12-18 at 17 33 00" src="https://user-images.githubusercontent.com/387036/71104780-a55b1700-21bc-11ea-820a-bfe35325c585.png">

[2019-12-19 01:59] orbingol commented on #73
I am sorry, I have completely missed the part that you have converted the unit sphere using `rw3dm`. There was another bug report on the `rw3dm` issue tracker and it was resolved temporarily. Please refer to the that solution for the moment: https://github.com/orbingol/rw3dm/issues/8

I am closing this issue, it is not related to `geomdl` but `rw3dm`.

[2019-12-19 01:59] #73 closed, assigned to nobody

[2019-12-23 11:54] friends110110 opened #74 "How to grade the NURBS curve with the grading point when use CAD?"
When we parse DXF file which related to CAD, we can see the grade rule table file and the base size DXF file which export dxf using Gerber model . The base size DXF provides some knot points which on the NURBS curve , how to grade the NURBS curve with the grading point which define in the grade rule table file ?

Is there java NURBS lib for me ?

I search for some research: we parse the point from

[2019-12-23 13:30] orbingol commented on #74
@friends110110 I couldn't understand what you mean by "grading point". However, `fitting.interpolate_curve` would give you a `Curve` object. It is possible to compute or get pretty much everything when you have the `Curve` object. I would suggest taking a look at the `Curve` class documentation for more details.

[2019-12-24 02:47] friends110110 commented on #74
@orbingol I update the description. The grading point is what scale the knot points .
Firstly, I provide some knots points in the nurbs curve , so we can infer the argument on the nurbs curve.
Secondly, I provide the grading rule table whch could scale the specify knot points(not all poins), How to scale the knot points and draw another NURBS curve (shape？)like the step firstly ?

[2019-12-24 12:56] orbingol commented on #74
@friends110110 the curve points (that are what you name "knot points" and I generalize them as "evaluated points" and they are called "data points" in the `fitting` module) are the outcome of the NURBS functions. `Curve` instances store them for caching purposes. Interpolation and approximation functions are designed to find a valid knot vector and the control points (depending on the input degree

[2019-12-31 22:28] orbingol commented on #74
@friends110110 I am closing this issue now. Please reopen this issue if you have any other questions.

[2019-12-31 22:28] #74 closed, assigned to nobody

[2020-01-15 21:53] ted-dgk commented on #67
Just a comment guys as I am poking around the nurbs landscape and I noticed this post with data.

I tried the data from your example in 3 other systems:

[http://nurbscalculator.in](url) and tinynurbs (C++ header only) and they both give a Wankel engine kind of 3 sided rotor - that is if I am doing it right.

Also tried in verb and it gives your circle. The verb test was done in javascript.

[2020-01-16 03:56] orbingol commented on #67
@ted-dgk thank you so much for the tests! It has been real busy for the last couple of months, I couldn't find time to test this issue thoroughly.

There was another issue (I believe it was #35) about computing the derivatives of a NURBS circle. I remember checking the exact same thing with the [NURBS toolbox](https://octave.sourceforge.io/nurbs/) while I was trying to find a fix. I think there we

[2020-01-16 07:54] cshorler commented on #67
I've read both of the more recent NURBS derivatives papers now.  Understood
some of it, still working on the rest.  I'm not sure of exact understanding
yet.  We should implement both in my opinion.  I'm struggling to find time,
but I will at some point as I still need this for more general NURBS (the
circle is easy to spot the error, but not a real world example)

Also note very first point in thi

[2020-01-16 21:40] orbingol commented on #67
@cshorler, you mean the geomdl.shapes issue?

[2020-01-17 06:31] cshorler commented on #67
Yes

On Thu, 16 Jan 2020, 21:40 Onur R. Bingol, <notifications@github.com> wrote:

[2020-01-17 06:45] orbingol commented on #67
@cshorler thanks. Let me open an issue on the `geomdl-shapes` issue tracker on that

[2020-01-17 06:51] cshorler commented on #67
Thanks

On Fri, 17 Jan 2020, 06:45 Onur R. Bingol, <notifications@github.com> wrote:

[2020-01-23 09:58] Batmanabcdefg opened #75 "T-spline visualization"
Hello @orbingol ,

Good day to you!

In the next version of NUBRS-Python can we import(/export/...) **T-Spline** from Rhino@?

Best regards

[2020-01-23 17:05] orbingol commented on #75
@OVGULIU you mean T-spline support for NURBS-Python, I presume. It is not a priority for now but it shouldn't be that hard after the release of geomdl v6.x.

[2020-01-23 17:21] AAAWWWAA commented on #75
@orbingol , Nice to hear that! Thanks!

[2020-02-13 16:53] portnov opened #76 "Possibility to export / import using arbitrary file-like object"
Currently `exchange.import_json`, `exchange.export_json` and friends can work only with file name; but as far as I can see from code, there is nothing preventing them to work with arbitrary file-like objects, StringIO for example.

**Describe the solution you'd like**
IMHO existing methods could just test if `file` argument is `isinstance(str)`, then treat it as file name, otherwise treat it as a

[2020-02-15 13:05] orbingol commented on #76
@portnov thank you for the suggestion.

geomdl v5.x has similar functions for different exchange formats, such as OBJ. For instance, `exchange.export_obj_str` returns a string and `exchange.export_obj` saves the string as a file. I think it would be appropriate to create a function `export_json_str` and `import_json_str` and use StringIO. It is also essential to maintain Python 2.7x compatibility

[2020-02-27 08:51] friends110110 opened #77 "How to move the nurbs arc?"
I provide some specific points,  using `interpolate_curve(points, degree) ` to generate a curve,
now I wanna modify the  start point  and end point of the specific points, and make the nurbs  curve move smoothly entirety not only the start point and end point.  How to do that it ?  as the following image, move to another position . Please provide the code, thanks

![image](https://user-images.gith

[2020-03-01 16:39] orbingol commented on #77
@friends110110 have you tried translating the control points? `linalg` module might also be helpful for that purpose.

[2020-03-02 02:32] friends110110 commented on #77
@orbingol Thanks for your reply.
I have no data about the translation of the control points ,  it only provide the translation of two interpolate points  ( which are start and end points) ,
could u provide some code about translate endpoint of the arc according to the interpolate nurbs curve?

[2020-03-02 03:15] heshijiu opened #78 "How to find a nearest point on BSpline curve or surface?"
which API can be used to get the nearesr point on BSpline curve or surface

[2020-03-04 07:13] friends110110 commented on #77
@orbingol could you give some advices?

[2020-03-06 14:38] orbingol commented on #77
`interpolate_curve` creates control points and knot vectors for a given degree. By default, it creates a clamped curve (or knot vector), which means start and end points of the curve are clamped to the control points polygon.

There is also a way to translate the whole curve using `operations.translate` function.

[2020-03-06 14:39] orbingol commented on #78
@heshijiu I am sorry but there is no API call included in geomdl for that purpose.

[2020-03-06 14:44] portnov commented on #78
@orbingol am I correct in assuming that there is just no better algorithm for this task than "rasterizing" / tesselating the curve / surface and then using k-d tree or BVH structure? Or maybe there is such algorithm, but it just is not implemented in the library?

[2020-03-07 07:38] friends110110 commented on #77
@orbingol now I have a nurbs curve , could you give me the examples about translate  the start point and end point  ,the the whole nurbs curve moves,  and  ignore the degree and knot vectors parameters ?

[2020-03-07 08:25] friends110110 opened #79 "How to generate nurbs curve according another curve?"
How to generate nurbs curve2 according to :
1.the nurbs curve1 (which using the interpolate points  `interpolate_curve(points, degree)`) ,
2. the start point and end point on the nurbs curve2 ( which are translated from the start point and end point on the nurbs curve1 by add DELTA variance )?

something is similar to [this](https://github.com/orbingol/NURBS-Python/issues/77)
![image](https://user

[2020-03-07 09:18] GabrielJie opened #80 "how to solve the derivatives of basis functions"
Dear authors,

In the current version, I find the corresponding module to solve the derivatives of B-spline or NURBS. In actual, I will need the derivatives of their basis with respect to the parametric coordinates when using NURBS/B-spline in isogeometric analysis (IGA).

Hence, how to solve it. I have overlooked all modulus in the current version, and there might be not featured with this functi

[2020-03-08 14:27] orbingol commented on #80
It is in the `helpers` module.

[2020-03-08 14:35] orbingol commented on #79
This looks like offsetting but you seem to have some special conditions. There are no offsetting algorithms included in `geomdl` (I'd say yet, hopefully I will add in future)

[2020-03-08 14:49] orbingol commented on #77
@friends110110 I am trying to understand question but it doesn't make sense.

The start point of a clamped curve is the 1st element in the control points array and the end point of a clamped curve is the last element in the control points array. You may use `linalg.point_translate` to move those points using a vector. Then, you need to re-evaluate the curve.

For `operations.translate`, please ref

[2020-03-08 15:07] orbingol commented on #78
@portnov that feels like a different question, more related to the research but not software implementations.

I am closing this issue as `geomdl` does not provide any implementations of finding closest point relative to an arbitrary point, as of today.

[2020-03-08 15:07] #78 closed, assigned to nobody

[2020-03-09 01:17] GabrielJie commented on #80
Thanks,

I find it, and it is not shown in the documentation.

With best regards,
Jie

[2020-03-09 01:58] friends110110 commented on #79
@orbingol  I wanna to generate nurbs curve2  according to nurbs curve1,  according to nurbs curve1's   start point and end point by adding offset,  do you have some solutions?

Not easy move the start and end points, other points will move regular along with the curve

[2020-03-09 05:31] orbingol commented on #80
Actually, it is: https://nurbs-python.readthedocs.io/en/latest/module_utilities.html#helpers

I am closing this issue. Feel free to reopen if you have any issues.

[2020-03-09 05:32] #80 closed, assigned to nobody

[2020-03-09 10:12] friends110110 commented on #77
@orbingol  how to only add offset of the start and end points , and the other points on the nurbs curve2 move regularly automatically?

[2020-03-10 04:24] orbingol commented on #77
There is no automatic way to do that as of geomdl v5.2.9. Like I said in https://github.com/orbingol/NURBS-Python/issues/79#issuecomment-596212178, you will need to implement offsetting algorithms and adapt them to your specific conditions. There may be other ways to solve your problem but you will still need to implement them.

[2020-03-10 08:09] friends110110 commented on #77
@orbingol  could u give some advices to help me to realize this function?

[2020-03-13 04:51] orbingol commented on #77
Unfortunately, offsetting keyword might be the only lead I could give to you. I am pretty sure that you will find several research papers on curve offsetting.

Since geomdl does not include any offsetting algorithms as of v5.2.9, I'd like to consider this issue as solved.

[2020-03-13 04:51] #77 closed, assigned to nobody

[2020-03-13 04:51] orbingol commented on #79
Related to #77

[2020-03-13 04:51] #79 closed, assigned to nobody

[2020-03-20 02:41] friends110110 opened #81 "How to realize the curve of equidistant amplification"
How to realize the curve of equidistant amplification ?  what code provide?
![image](https://user-images.githubusercontent.com/3381671/77131635-421ca180-6a97-11ea-9c7e-19ddadcdc9a8.png)

[2020-03-21 02:19] friends110110 opened #82 "Using discrete character points to generate offset parallel curve?"
When I give discrete character points curve, how to generate offset parallel curve ?
likes this
[this](https://i.stack.imgur.com/VMmLT.png)
 Does some java library or python library and examples to provide?

[2020-03-21 07:03] zhxd050946 opened #83 "Is there any function to compare two curves or surfaces？"
Dear Bingol，

Thank you for your great job, NURBS_Python, which has saved me a lot of time.

I want to compute the minimum distance from a point to a NURBS surface and the integral of volume between two BSpline or NURBS surfaces.

Are there any convenient method？

Looking forward for your reply.

[2020-03-21 08:26] orbingol commented on #81
I don't think `geomdl` has this feature. I'd suggest using the email list `nurbs-python@googlegroups.com` for features not implemented in `geomdl`.

[2020-03-21 08:26] #81 closed, assigned to nobody

[2020-03-21 08:26] orbingol commented on #82
I don't think `geomdl` has this feature. I'd suggest using the email list `nurbs-python@googlegroups.com` for features not implemented in `geomdl`.

[2020-03-21 08:26] #82 closed, assigned to nobody

[2020-03-21 08:32] orbingol commented on #83
@zhxd050946 `geomdl` does not have the features you asked as of v5.2.9

I am closing this issue as it looks like it is related to #78

[2020-03-21 08:32] #83 closed, assigned to nobody

[2020-03-26 15:39] friends110110 opened #84 "How to move the nurbs curve start and end point"
Provided a nurbs curve, if the start point is (0,0) , end point is (100,0), I wanna move the start point to (20,20) , move the end point to (80,20), curve moves with  the start and end points . how to realize it ? Could provide some code for me?

[2020-03-27 14:47] friends110110 opened #85 "How to move nurbs curve when transplant the start and end point?"
In CAD software , I interpolate a nurbs curve , now I want to move the start and end point ? How to calculate the nurbs points after move the start and end point of the nurbs?

![image](https://user-images.githubusercontent.com/3381671/77768093-f5c7f780-707c-11ea-86cb-1caa8deee8ee.png)

the white curve is what I move the yellow curve to red curve, I move the start and end point of yellow

[2020-04-01 07:56] friends110110 opened #86 "Why interpolate_curve a new curve , its control points have so many ?"
[code]

Why crv2.ctrlpts size is 101, How to make  the control points number of crv2 curve  is 3, it should be the saime to the control points number of crv curve?

And crv1 ,ctrl points
![image](https://user-images.githubusercontent.com/3381671/78113736-c0335d80-7432-11ea-9214-6462bea4c743.png)

crv2, ctrl points
![image](https://user-images.githubusercontent.com/3381671/78113756-cb868900-7432-11

[2020-04-04 00:16] lambert-x opened #87 "Is there a way that I could generate volumes using control points like this?"
I create a surface with the control points I have and it is a cylinder-like surface.  I actually want to generate all the integral points' coodinates inside the cylinder. And I think I could do this by firsly construct the volume of this cylinder and get its evaluate points then use an algorithm to find the points I want. I find that there is a way to generate volume using several surfaces but I h

[2020-04-07 09:10] friends110110 commented on #86
@orbingol could u give some reasons? Actually I wanna three control points after invoke the `interpolate_curve `  method.

[2020-04-08 03:21] #87 closed, assigned to nobody

[2020-04-08 05:30] orbingol commented on #86
I'd say it works as expected considering the definition of interpolation. Try changing the sample size or play with the evaluation delta to reduce the number of data points.

[2020-04-08 11:16] friends110110 commented on #86
@orbingol when I use `interpolate_curve` , I change the sample size and delta by
`
crv2.sample_size=3
crv2.delta=0.9
`
It seems that the control points of crv2 do not reduce . Could u give some advices?

[2020-04-09 02:09] orbingol commented on #86
`sample_size` and `delta` are the different representations of the same variable: evaluation delta. You should set only one of them, whichever makes sense to you.

[2020-04-10 23:10] #86 closed, assigned to nobody

[2020-04-11 07:34] Ropo8015 commented on #58
Hi has there been progress on this open issue? I am trying to use the trimming module and struggling due to lack of examples. Thanks

[2020-04-11 08:38] orbingol commented on #58
Have you checked the examples repository? There should be some examples there:

https://github.com/orbingol/NURBS-Python_Examples/tree/master/surface/trimming

[2020-04-13 11:42] friends110110 commented on #86
@orbingol when I set `crv2.delta=0.9` , it still have a lot of control points.   How to specify only three points when `interpolate_curve` a curve ?

[2020-04-13 22:39] orbingol commented on #86
I'd suggest you to check the documentation of `delta` and `sample_size` properties.

[2020-04-14 13:00] friends110110 commented on #86
@orbingol  I read [Setting the evaluation delta ](https://nurbs-python.readthedocs.io/en/latest/basics.html#setting-the-evaluation-delta) , the evaluate points reduce, but the num of the control points do not reduce.

[2020-04-15 08:14] orbingol commented on #86
If you would like to use the interpolation, you need to reduce the number of evaluated points that you input to the interpolation function to control the number of control points on the interpolated curve. For instance; if you input 10 data points, interpolation function will create 10 control points.

You could also use knot removal on the interpolated curve to remove some of the control points.

[2020-04-15 12:22] friends110110 commented on #86
@orbingol Thanks.
Do you know how the start point affect the whole arc curve when move the start point to another position  in some CAD(generally NURBS curve)  software ? How the control points and evaluate points change when move the  start point in the curve ?

[2020-04-15 20:48] orbingol commented on #86
I'd be really happy if you would ask questions not directly related to NURBS-Python (geomdl) on the email list `nurbs-python@googlegroups.com`.

Thank you!

[2020-04-28 12:11] zhangzongliang opened #88 "How to calculate the area of a nurbs surface?"
I notice that the length of a nurbs curve can be approximately obtained by the method 'length_curve', but I do not find a method to calculate the area of a nurbs surface. Thanks.

[2020-04-30 16:30] dec1 opened #89 "{bezier} <-> b-spline conversion"
Hello.

Is it possible to use your library to perform (automatic) conversion of b-spline to corresponding set of bezier curves, and vice-versa?

Also mentioned [here](https://math.stackexchange.com/questions/364054/is-it-possible-to-convert-a-b-spline-into-a-bezier-curve )

If not would it be possible to add this feature?

Thanks in Advance

[2020-04-30 18:57] orbingol commented on #89
@dec1 Would this work for you? https://nurbs-python.readthedocs.io/en/latest/visualization_splitting.html

[2020-05-01 08:27] dec1 commented on #89
Hello.
Thanks.
So the actual code to do so would be
`operations.decompose_curve()` as used eg. [here](https://github.com/orbingol/NURBS-Python_Examples/blob/c99d8cd3d20e7523694ce62f72760b260582fa11/curve2d/ex_curve02_decompose.py#L32)?

[2020-05-01 15:57] orbingol commented on #89
@dec1 yes, you are correct. You can find links to the function references on the doc page above.

[2020-05-01 19:15] dec1 commented on #89
Great. Thank you very much

[2020-05-01 19:15] #89 closed, assigned to nobody

[2020-05-12 13:46] philipptempel opened #90 "No support for rendering two or more separate figures using VisPlotly"
**Describe the bug**
The default filename for any new plotly html file is 'temp-plot.html` which makes rendering two or more objects into separate outputs impossible.

**To Reproduce**
Steps to reproduce the behavior:
1. Take the [3D curve example](https://github.com/orbingol/NURBS-Python_Examples/blob/master/curve3d/ex_curve3d01.py) from the examples package
2. Import plotly visualization backend

[2020-05-12 15:12] orbingol commented on #90
@philipptempel thanks! You can use `VisPlotly.VisConfig` class to control the output filename till the easy method gets fixed. This was the initial approach of using visualizer modules; create a config, create a visualizer and display the output. There can be multiple visualizers with the same or separate configuration. It looks complicated, but also it gives more flexibility.

I guess I removed a

[2020-05-14 14:18] philipptempel commented on #90
Alright, I see now how this should work. And I do understand the flexibility of using a configuration object, but I feel that there is still a bit of either a misleading parameter, a misconception, or simply a misunderstanding on my side.

Using the visualization configuration, as you have shown, works for me. But, what about the `filename`-kwarg of `curve.render()`? From your example, I would ass

[2020-05-14 18:17] orbingol commented on #90
You are completely right. `curve.render(filename='myfile.html')` should save the figure to `myfile.html` as expected.

The initial design of `VisPlotly` was for plotly v2.x (or early v3.x releases) and as far as I remember, it was working at that time. I understand the confusion between `filename` and `image_filename`, but it was something related to plotly itself. There was a major refactoring in

[2020-05-26 16:12] portnov opened #91 "Numpy usage?"
Hello.
As far as I understood from Contributing.md, nurbs-python does not use numpy for it's core algorithms, such as evaluating nurbs curves/surfaces.
Could you please explain why such decision has been made? Maybe this library is targeting on some specific platform where numpy is not available?

The reason why I'm asking is because I've recently implemented Bezier curves in python+numpy (only ev

[2020-05-27 04:32] #85 closed, assigned to nobody

[2020-05-27 04:33] #84 closed, assigned to nobody

[2020-05-27 12:52] pablocael opened #92 "Wrong number of surface points generated"
**Describe the bug**
Just generate surface using this code below:

        size = gridItem.GetSize()
        # Set degrees
        self._surf.degree_u = 2
        self._surf.degree_v = 2
        controlPoints = []
        items = gridItem.GetItems()
        for row in items:
            for item in row:
                pos = gridPos + item.pos()
                controlPoints.append([pos.x(), pos.y

[2020-05-27 15:33] orbingol commented on #92
I don't think `degree_u` is changing.

The system mainly works with `delta` property and `sample_size` is a convenience property that the input is being converted into a floating point number between 0 and 1, which is the `delta` value. What you are currently observing is a floating point error. I'd suggest using `delta` property directly to set the sample sizing.

[2020-05-27 23:00] pablocael commented on #92
First of all thanks for the quick reply
Sorry, I meant sample_size_u is changing. Degrees are not changing, sorry for the confusion.
Im setting samples size u and v but they are not staying in the value I set, but 1 unit below.
It really looks like rounding error. I guess I can try using delta explicitly.

Nevertheless I think this behavior can be sometimes odd, cant it? In my case its breaking th

[2020-05-28 00:47] orbingol commented on #92
You are right, documentation is not that clear on how `sample_size` works.

[2020-05-28 02:25] friends110110 opened #93 "How to move the scaled point and keep the shape of the curve?"
For a curve, I wanna move the start and end point to new position,  and then how to keep the shape of the curve ?

![image](https://user-images.githubusercontent.com/3381671/83091228-4be10780-a0cd-11ea-82a0-bf0cfb2e93dc.png)

From the points which circulated on the yellow curve,  move them to red curve position which circulated on the red curve, how to keep the shape of the curve on the red curve

[2020-05-28 02:26] friends110110 commented on #93
@orbingol @cshorler @heczis @Nodli Could you help me to solve this problem? move the start and end point of a curve to another position, how to keep the shape of new curve ?

[2020-05-29 03:39] friends110110 commented on #93
@orbingol could you help me to solve this problem?
Thank you

[2020-05-30 01:51] pablocael commented on #92
Hi there, I have tried setting delta_u and delta_v directly, but result remains the same:
I've set:
[code]
where gridPixelSize = (460, 250)
But number of surface points generated is 1 less along u:

number of surface points = len(self._surf.evalpts) => 114750, gridPixelSize = (460, 250)

114750 = 459 x 250

Its always missing 1. If I query _surf.delta_u and _surf.delta_v, I get exactly what was se

[2020-05-30 02:08] pablocael commented on #92
I can reproduce the problem even in the example from the doc:
[code]

[2020-05-30 03:02] ebo commented on #48
has anyone tried adding numba support?

[2020-05-30 06:43] orbingol commented on #92
~I am guessing there should be a problem with the `linspace` implementation in the `linalg` module.~

Well, it is not `linspace`. The initial design of the library was depending on `linalg.frange` function, as Python's `range` function does not work with floating point numbers. I've updated it to work with `linalg.linspace`, as there were some issues with `frange` from time to time. However, the d

[2020-05-30 07:24] orbingol commented on #48
This issue has been fixed in v6.x branch

[2020-05-30 07:24] #48 closed

[2020-05-30 08:29] pablocael commented on #92
Thanks for the quick reply.

I have pulled version 6.x-dev to check the fix. I spotted an issue when evaluating the surface now:

`
  File "main.py", line 839, in updateRender
    surface_points = self._surface.Eval()
  File "main.py", line 342, in Eval
    return self._surf.evalpts
  File "/usr/local/lib/python3.7/site-packages/geomdl/abstract.py", line 63, in evalpts
    self.evaluate()
  File "

[2020-05-30 15:55] orbingol commented on #92
`6.x-dev` is still under development and its API is different. I would NOT recommend using it right now.

[2020-05-31 01:15] pablocael commented on #92
I see, thanks a lot for the support.

[2020-06-01 06:10] orbingol opened #94 "VisMPL shows 2 figures when run inside a Jupyter notebook"
Fixed with the commit https://github.com/orbingol/NURBS-Python/commit/58ea58fdabd7bd349ba0aeeff899b2a3c37e64f9 on 6.x branch. Needs to be ported back to 5.x branch,

[2020-06-08 08:23] shz224 opened #95 "How to get fitting coefficients?"
Thanks for the convenient package. I wonder if I can extract the coefficients of a curve or surface fitting.

[2020-06-09 19:06] orbingol commented on #95
@Jshcht There are some functions for this purpose in `fitting.py`. I'd suggest you looking at line 509. They are actually documented but not exported to the online documentation.

[2020-06-10 00:39] shz224 commented on #95
Thanks a lot for your kind rely and providing such a convenient package. I will check it out.

[2020-06-15 08:22] j-polden opened #96 "Accessing the trim 'negative'"
Hi There, really impressed with this library so far!

I have been using the trim functionality to cut holes into a generated surface, however I am trying to export the trimmed section of this surface. Does anyone have any tips how we could access this?

To explain a little better, please see the picture below. I am able to trim a polygon from the surface, after which I am left with the larger surf

[2020-06-16 03:01] orbingol commented on #96
Yes, there is an experimental and not very well documented configuration variable that trims the reverse, independent of the direction of the trim curve control points.

Setting `tcrv.opt = ["reversed", 1]` would do the trick, but just a reminder, it is still experimental.

[2020-06-16 03:12] j-polden commented on #96
Amazing! Thanks :) ![Screen Shot 2020-06-16 at 1 12 08 pm](https://user-images.githubusercontent.com/27755793/84727726-03817f00-afd3-11ea-8f9d-acd7f3fb82c3.png)

[2020-06-16 03:12] #96 closed, assigned to nobody

[2020-06-16 07:38] orbingol commented on #95
I am closing this issue and marking it as resolved.

[2020-06-16 07:38] #95 closed, assigned to nobody

[2020-06-18 15:21] cshorler commented on #67
@orbingol

I started to explore the 6.x-dev branch a little bit, some interesting changes / explorations.

some initial comments on files I'm also likely to submit PR on where I might revert locally before making PR.

* geomdl/base.py
  - I guess the introduction of GeomdlFloat is a test to manage fp roundoff issues, I'm not sure the way this is implemented is a good design decision w.r.t. fp accu

[2020-06-18 16:01] orbingol commented on #67
6.x-dev is still under development, some new features are not completed in the way I indented and it is not ready for a release. I am thinking of an alpha release at the end of this month and a roadmap for the future development.

Comments are always welcome but it might be too early for PRs.

Edit: I'd be happy if you could open a new ticket for the new topics that you would like to discuss.

[2020-06-18 16:13] cshorler commented on #67
I assumed this, okay will do

[2020-06-18 16:29] orbingol commented on #67
@cshorler thanks!

[2020-06-25 15:15] Burtski opened #97 "B-spline .normal returns only X&Y Z is always 0.0"
It appears that BSpline.Curve.normal is only returning 2 dimensions instead of 3

I have a 3D BSpline (imported from Solidworks).
It appears that the .normal is only returning the X&Y components of the normal.
The Z component seems to be clamped to 0.00.

The .tangent vectors appears to be correct as well as the first and second derivatives.

NormalPoint,NormalVector = CenterCurve.normal(position)

[2020-06-26 00:30] orbingol commented on #97
Using the information given, it is impossible to reproduce the problem. Please use the bug reporting template and complete all the information required.

[2020-06-26 00:30] #97 closed, assigned to nobody

[2020-06-26 17:56] Burtski opened #98 "Bspline .normal does not report correct vector. Z is always 0.0"
**Describe the bug**
When extracting the normal vector to a Bspline the returned vector is incorrect.
The Z value is always 0.00

(actual code attached)
CenterCurve = BSpline.Curve()
CenterCurve.degree = CenterLineSpline['Dimension']
CenterCurve.ctrlpts = CenterLineSpline['ControlPoints']
CenterCurve.knotvector = CenterLineSpline['KnotPoints']
CenterCurve.reverse()
print(CenterCurve.normal(0.50025

[2020-06-26 19:42] orbingol commented on #98
I have added the following for testing:

[code]

Results:

[2020-06-29 16:00] Burtski commented on #98
Perhaps I do not understand what the .normal is telling me.
I was under the impression that the normal would 'point' to the center of curvature (assuming there is curvature at this point ).

If I interpret this correctly, the .normal may return any vector that is on the plane that is normal to the tangent.
There are therefore an infinite number of solutions for the .normal.

Will the chosen soluti

[2020-06-29 18:59] orbingol commented on #98
That would be the curvature vector, right?

Actually, "curve normal" is not a very well defined operation. We have discussed it here on Github, as well as in person. Whoever I talked explained it in a different way. Therefore, the normal computation has been updated to compute the normal to the tangent vector, which seems to be consistent with most geometry references.

It shouldn't be. On the oth

[2020-06-29 22:03] Burtski commented on #98
Thank you for your clarification.

[2020-06-29 22:03] #98 closed, assigned to nobody

[2020-07-03 13:39] andreabonacini opened #99 "Nurbs equally spaced points"
Hi,
i'm using the Nurbs.curve class and i would like to get a set of equally spaced evaluated points over the curve, possibly as a function of an imposed delta (or sample size). Is it possibile?
Regards,
Andrea

[2020-07-03 13:43] QiWang-SJTU opened #100 "How to generate a closed NURBS curve?"
Are there any parameters that control whether the generated curve is "open" or "closed"?

[2020-07-04 04:48] orbingol commented on #100
This is something you could easily achieve by changing the control points. There are also some examples in the [examples repo](https://github.com/orbingol/geomdl-examples). If you would like, you could add properties that controls the curve behavior by extending the class.

[2020-07-04 04:58] orbingol commented on #99
Evaluated points are equally spaced on the parametric space (UVW) where the evaluation happens. It might or might not be equally spaced on the XYZ space.

[2020-07-04 14:12] ebo opened #101 "the automated tests appear to all be broken"
While evaluating NURBS-Python as a starting point for a numba project, I ran nosetest to start from the examples.  I consistently found from 100 to over 200 broken tests in the test suite (depending on the branch).

What is the most stable branch that I should start from?

Are the automated test suite maintained?

Steps to reproduce:

  * start with a clean Anaconda install
  * install nose
  * ru

[2020-07-04 16:57] ebo opened #102 "ft2font broken for pypy3 support"
Has anyone gotten pypy3 working for VisMPL visualization support?

I am not sure you would consider this a NURBS-Python bug, but I have been unable to resolve ft2font / matplotlib install in Anaconda.  Does anyone have suggestions?

To Replicate:
  * start with a clean Anaconda environment
  * install pypy
  * run any examples which include VisMPL,  or VisVTK

[2020-07-05 01:26] orbingol commented on #101
I am not sure what the problem is with `nose` but all automated tests are passing (please refer to CI logs/configuration for `5.x-dev` branch for details). I use `pytest` ([docs](https://nurbs-python.readthedocs.io/en/latest/install.html#testing)). For the branch information to work with, please refer to the [wiki](https://github.com/orbingol/NURBS-Python/wiki). Current stable version is 5.x serie

[2020-07-05 01:31] orbingol commented on #102
Just FYI, it was working with pypy3.5 and Travis CI still has the logs for it. I've switched the base image to `xenial` on Travis. It seems Travis CI's `xenial` image comes with pypy3.6 and it fails to install `numpy` or `matplotlib` for some reason.

It is not related to geomdl, but I am leaving the issue open. If someone knows how to solve it, I could add pypy3.6 tests back to the CI. I just hav

[2020-07-05 10:20] ebo commented on #102
Thank you.  After posting I realized that the issue was more of a system problem than NURBS-Python(_Examples), but could not figure out how to get it working yet so I had not posted a reply.  As a note, the stable versions of python which are installed on my Gentoo linux box and Anaconda are all currently 3.7 and 3.8 is on the horizon.  Interestingly enough pypy3 --version is returning:

    Pytho

[2020-07-05 10:33] ebo commented on #101
I have a little time at the moment to test the numba.jit support if you can release them now -- it would be less work for me writing tests than starting a branch from scratch...

As a note, my comment about the tests broken turned out to be the pypy version issue mentioned in the other bug report.  On my install using pytests also breaks with the error:

===========================================

[2020-07-05 16:58] #101 closed, assigned to nobody

[2020-07-05 17:36] ebo commented on #102
as a note, I have posted bug reports with the pypy folks to make them aware of the issue.

[2020-07-05 18:07] ebo opened #103 "numba support request"
I have read a couple of references to initial efforts to provide numba support to NURBS-Python.  If these repositories can be shared I have a little time I can spend on helping to get it, the test suites, and timing tests running.

[2020-07-06 08:40] andreabonacini commented on #99
So, is there a function inside the NURBS library in order to compute equally spaced samples on the XYZ space? The input of the function i would like to be progress step previewsly defined in the XYZ space

[2020-07-06 10:03] #94 closed, assigned to nobody

[2020-07-07 23:55] orbingol commented on #51
This has been implemented in `6.x-dev` branch,

[2020-07-07 23:55] #51 closed

[2020-07-08 00:03] orbingol commented on #90
This issue will be resolved with the next release of geomdl v5.x

[2020-07-08 00:03] #90 closed, assigned to nobody

[2020-07-09 20:36] VAero-Lab opened #104 "Evaluate surface at specific values of U and V"
Hi !
I would like to know how to evaluate a B-spline surface at specific values of **u** and **v**? For instance, u=0,v=0.5. Is that possible?
Thanks

[2020-07-09 21:03] orbingol commented on #104
It is `Surface.evaluate_single`, e.g. `surf.evaluate_single((0.0, 0.5))` for `u=0.0` and `v=0.5`. For future reference, `param` is a `float` for curves, `tuple` for surfaces and volumes for geomdl v5.x

Please refer to the documentation and the examples repository for more details.

[2020-07-10 21:15] VAero-Lab commented on #104
Thank you ! Everything works fine

[2020-07-10 21:15] #104 closed, assigned to nobody

[2020-07-22 21:55] ebo opened #105 "reenable pypy support"
turns out that things have stabilized a bit in the last month, and pypy now seems to play nice again.  I was able to get it working and running with the NURBS-Python_examples yesterday.  As a note, I removed  "strict" from the channel flags.

[2020-07-23 05:53] orbingol commented on #105
@ebo thanks!

I am closing this issue as geomdl core should work on any python distribution. There is nothing to enable, other than the tests. Regarding the tests, I've switched to miniconda to reduce the effort of enabling plotly and vtk offscreen rendering. I am not sure if conda allows creating a pypy environment, but I'll check it out later (not a priority task due to time issues)

Issues with

[2020-07-23 05:53] #105 closed, assigned to nobody

[2020-07-23 05:53] orbingol commented on #102
Closed as explained in #105

[2020-07-23 05:53] #102 closed, assigned to nobody

[2020-07-23 05:55] orbingol commented on #103
I am sorry but sharing might not be possible due to some limitations with a publication. Maybe later but not soon.

[2020-07-23 05:55] #103 closed, assigned to nobody

[2020-07-23 11:58] ebo commented on #103
On Jul 22 2020 11:55 PM, Onur R. Bingol wrote:

understand.  Please email me when/if it is released.  As a note, I
would be willing to sign an NDA, but I have worked with academics for
decades and understand the need to publish first...

[2020-07-23 12:16] ebo commented on #105
On Jul 22 2020 11:53 PM, Onur R. Bingol wrote:

@orbingol, you are most welcome.

switching to miniconda makes sense for the core package.

Conda, does allow for the creation of a pypy environment, that is how I
did it.  I will have to go through the steps to make sure I remembered
everything, but I think the last time around it was as simple as:

   conda create --name pyp
   conda install geomdl

[2020-07-27 07:12] ebo commented on #99
@andreabonacini, are you referring to arc-length parameterization of the NURB?  ie. if you have a curve that is 6" long, and you evaluate it a 1" that it is 1/6'th of the way along the curve, or are you referring to something else?

[2020-07-27 07:27] ebo opened #106 "curve-length approximation"
I have a question or two about the implementation of the curve lengths and fairing.

If I understand the documentation correctly, you use the Euclidean distance summed across some arbitrary evaluation points, is that correct?

I was reading some papers on using NURBS for CNC machining and came across  one [1] that uses an adaptive quadrature method based on Simpson׳s rule [2] for greater accuracy.

[2020-07-27 19:04] orbingol commented on #106
Yes, and this is not a 100% correct method to compute curve length. Therefore, this function has been removed in v6.x.

I don't think this is related to NURBS directly. I've heard that some researchers are using external libraries for this purpose.

[2020-07-27 19:41] ebo commented on #106
On Jul 27 2020 1:04 PM, Onur R. Bingol wrote:

What will replace it in 6.X?  Also, when is 6.X expected to be
released?

I will have to review some of my references and see if I can either
articulate it better, or possibly write those functions.

[2020-07-27 19:57] orbingol commented on #106
As soon as possible if I can find more time to work on it.

[2020-07-27 20:36] ebo commented on #106
On Jul 27 2020 1:58 PM, Onur R. Bingol wrote:

Understand.  One of the infinite round-to-its...  I should show you my
list ;-)

Best of luck and success, and here is to your health!

[2020-07-28 13:22] andreabonacini commented on #99
I was referring to if there was a method that takes as input a constant velocity (or a progress step) in order to obtain in output the parameter values that allow to have equally spaced points (cartesian coordinate) along the NURBS. Obviusly the parametrization u would not be equally spaced.

Anyway, for that purpose i successfully implemented my own algorithm of a constant feed rate. This solved

[2020-07-28 14:42] orbingol commented on #106
@ebo thanks!

The story behind 6.x was just to separate visualization component from the core library and make the classes a little bit thinner. It was supposed to be released on January 2020 :) Then, things happened involving very very big changes, COVID-19 happened (which shouldn't be an excuse for software people, but...) and with some other personal reasons, I've started to find less free time

[2020-07-28 14:42] ebo commented on #99
I would be interested in looking at it if you would be willing to
share.

On Jul 28 2020 7:22 AM, Andrea Bonacini wrote:

[2020-07-28 14:45] orbingol commented on #99
I think we can close this issue.

[2020-07-28 14:45] #99 closed, assigned to nobody

[2020-07-28 15:10] ebo commented on #106
@Onur, you are welcome, and our time is what it is.   I do appreciate
having what you and others give.

multi-component libraries sounds good.  It can simplify things once in
place.

Best of luck with everying (including finding more free time ;-)

On Jul 28 2020 8:42 AM, Onur R. Bingol wrote:

[2020-07-28 16:50] andreabonacini opened #107 "Normal vector NURBS curve wrong"
Hi,
I'm using the curve.normal() method to evaluate the frenet frame on the curve **_s_** at a certain parameter _**u**_ but it seems to be wrong. **The normal vector of a curve is always in the direction of the curvature.** Plotting the normal vector in output to curve.normal() it is correct only in one verse of the parametrization, not both.

The normal is always defined as the normalized second

[2020-07-28 17:19] orbingol commented on #107
Well, I usually prefer not to discuss math on Github and I have been avoiding it for a while. A textual system is not good for such discussions. ~~You~~ We need a blackboard. There are also some discussions on the issue tracker about the curve normal.

Frenet-Serret says that the derivative of the tangent is the normal, which literally corresponds to the curvature vector for the NURBS curves. The

[2020-07-28 17:26] orbingol commented on #107
I am labeling this issue as "duplicate", as several discussions exist on the issue tracker. I am also labeling as "won't fix" as I have removed these functions from 6.x. This issue is still open to the discussions, please don't worry.

All comments and suggestions are welcome!

[2020-07-29 10:06] andreabonacini commented on #107
I used the math just to support the question, since it's easy math. I read the other questions about normal but it isn't fixed yet, that's why i asked.

Anyway, the curvature _**k**_ is not a vector, it's a scalar. So i think that it's incorrect to say if curvature has or not 90 degrees with tangent (that is a vector).
I suggest this link for reference.
https://math.libretexts.org/Bookshelves/Calc

[2020-07-29 10:49] orbingol commented on #107
Would you elaborate a little on how a scalar value has a direction?

Edit: I am guessing this question is not that clear. Obviously, the tangent vector is a vector, not a scalar. The curvature is a scalar value. Here, comparing a vector with a scalar value doesn't make sense to me.

There is another thing that needs to be considered here. The reference link assumes that the curve is arc-length par

[2020-07-30 01:38] orbingol commented on #107
I have a feeling that I might need to answer my questions myself. Let me experiment a bit and try to make Frenet-Serret working. I am closing this issue. Feel free to reopen it, if you like.

[2020-07-30 08:54] andreabonacini commented on #107
When i said "with direction concordant to the curvature of the curve" i'm not strictly talking about the curvature parameter **_k_** ( a scalar). Think about a circle, the normal vector must point toward the center of the circle, not to outside. And this happen indipendently to how i travel the curve. In your library, this does not happen as a consequence of how you implemented it. Try to create a

[2020-07-30 16:26] orbingol commented on #107
@andreabonacini thanks! I'll take a look when I find time.

[2020-07-30 16:28] portnov commented on #107
Eeh. Normal vector is always perpendicular to the tangent, that's why it's called normal :)
Tangent vector is the derivative of the curve function, normal is the second derivative, and binormal is their cross product.
In this formulation, lengths of these vectors depend on parametrization of the curve, but not directions. So usually they are just normalized.
One thing about tangent/normal/binormal

[2020-07-30 16:35] orbingol commented on #107
That is what I am trying to explain. However @andreabonacini says

[2020-07-30 17:19] orbingol commented on #91
I think I missed this question :)

We all know that if we can vectorize the equations properly, we will take advantage of every single bit of the library and the hardware. It has been a long time but what I remember is that when we vectorize the NURBS equations, we create sparse matrices (I hope I remember it correctly). I think we add another level of complication when we go with the sparse matri

[2020-07-30 17:25] orbingol commented on #93
@friends110110 this is not directly related to geomdl, like a bug or something else. Due to time constraints, I can't help you. I am closing this issue.

[2020-07-30 17:25] #93 closed, assigned to nobody

[2020-07-30 17:26] #100 closed, assigned to nobody

[2020-07-30 19:23] portnov commented on #91
Well, I can now say that it is possible to implement nurbs with numpy :) You can check https://github.com/nortikin/sverchok/blob/native_nurbs/utils/curve/nurbs.py and https://github.com/nortikin/sverchok/blob/native_nurbs/utils/surface/nurbs.py . Since you're familiar with nurbs maths, I hope you will find the code readable enough (though I intend to document it better). In my cases, numpy-based i

[2020-07-30 19:42] orbingol commented on #91
@portnov it was always possible to implement nurbs with numpy :) I am not even arguing that. It is just a matter of decision.

Also, it is always good to give some researchers opportunity to build faster libraries and cite `geomdl` as slow :) I wouldn't mind that :)

Regarding cython on Blender, you might be correct. Blender includes an embedded version of Python as long as I remember. Years back,

[2020-07-31 00:51] #107 closed, assigned to nobody

[2020-07-31 06:46] portnov commented on #91
A bright side of Python is that you always can use C/C++ libraries, with numpy being just one of them. So in fact when we say "implement something in numpy" it actually means "implement in C++". And numpy uses SIMD instructions when it can. I did some benchmarks some time ago and I saw that python+numpy code can be actually faster than hand-written C++ code, just because numpy uses SIMD by default

[2020-07-31 07:32] orbingol commented on #91
Sure! I appreciate the work of pybind11 developers, so that I can convert whatever I need to Python.

I disagree with this statement. It is comparing apples and oranges here. However, I agree with the following.

However, I'd say it depends. It is not an easy job to code properly in C++. Python is more forgiving in that sense.

This seems to be a pretty new enhancement: https://numpy.org/neps/nep-

[2020-07-31 07:32] #91 closed, assigned to nobody

[2020-07-31 08:30] andreabonacini commented on #107
You both are missing the point that exist infinite vectors that are normal to the "Tangent" versor, but just one that is also the second derivative of the curve at a certain parameter value (lying on the osculating plane) and that is called "Normal" versor.

So i dont care about a method that compute one of the normal vector (orthogonal to the tangent versor) that correspond to the "Normal" versor

[2020-08-02 08:59] orbingol commented on #92
I've pushed a fix on `5.x-dev` branch. Hopefully, it will fix this issue. I'll need to test it a bit more before `5.3.0` release to make sure the fix working fine.

[2020-08-07 14:01] jiajiafish opened #108 "No name 'shapes' in module 'geomdl'"
[code]

[2020-08-07 19:08] orbingol commented on #108
This is not a bug. Please refer to the README file or the module website: https://github.com/orbingol/geomdl-shapes

FYI, Please use the bug report template for reporting the bugs.

[2020-08-07 19:08] #108 closed, assigned to nobody

[2020-08-07 19:09] orbingol commented on #92
This issue has been resolved. Please install geomdl v5.3.0

[2020-08-07 19:09] #92 closed, assigned to nobody

[2020-08-08 17:06] #57 closed

[2020-08-08 17:07] #67 closed, assigned to nobody

[2020-08-08 17:10] orbingol commented on #76
I've added `_str` functions for all exchange options in 6.x-dev. Please open an issue if anything needs to be ported back to 5.x

[2020-08-08 17:10] #76 closed, assigned to nobody

[2020-08-22 22:48] 805Apollo commented on #39
Hey gentlemen. I know it's been a while since you've been on this thread but I came across it in my research and am hoping you could help a beginner 3D modeling enthusiast. I'm currently teaching myself blender with interest in using it for interior design visualization. But I'm hitting a snag when importing .obj files from dimensions.com

For example, I'll download and import an .obj of a queen m

[2020-08-23 03:23] orbingol commented on #39
@805Apollo thanks for your message, but this issue tracker might not be the correct place to ask Blender questions. Since you asked kindly, I'd like to suggest you a couple of good places to ask Blender questions:

- https://www.blender.org/Community/
- https://blenderartists.org/

[2020-09-16 14:40] AnirudhaVyas opened #109 "Normal orientation"
Hello

Using the geometric operation toolbox I was able to get the normal vectors, now I wanted to know how to calculate the orientations w.r.t. X,Y,Z axis respectively. I was using the formula theta = arccos((dot(n,x)/(norm(x)* norm(x)).

where n is the unit normal vector and x is [1, 0, 0]   (for finding orientation along x-axis).

For n = [-.93 , 0 ,-0.34] , I am getting alpha as 159.91, which

[2020-09-18 22:24] momba98 opened #110 "[question] Find intersection between surface and ray?"
Hey. Great repo.

I got a very basic question: is it possible to validate the point where there is an intersection between a surface (it doesn't matter if it's Bezier or NURBS) and a ray?

I searched for something like this in exemples repo but I wasn't able to find.

[2020-09-22 19:01] orbingol commented on #110
There are no intersection (surface-surface, surface-curve, surface-ray, and others) algorithms included in the library as of today

[2020-09-22 19:01] #110 closed, assigned to nobody

[2020-10-06 16:26] yijiangh commented on #28
Out of curiosity, what is the standard method for computing this intersecting curve in 3D? I suspect we need to solve a set of algebraic equations to do this since this curve is a NURBS - B-Spline curves on both given surfaces?

[2020-10-23 01:57] zymale opened #111 "Doubts about CPT and cptw"
What is the difference between CPT and cptw? What do the four values of each point in cptw mean?

[2020-10-23 02:51] orbingol commented on #111
Will this help? https://github.com/orbingol/NURBS-Python/wiki/Control-points-getters-and-setters

[2020-10-23 04:10] whikwon opened #112 "Curve interpolation with end derivative specifed"
Is there way that I can interpolate curve with end derivative specified? (The NURBS Book 2nd, p.370)

[2020-10-23 05:12] zymale commented on #111
Yes, it made me understand.

[2020-10-23 06:51] #111 closed, assigned to nobody

[2020-10-23 08:02] whikwon commented on #112
I'm having trouble understanding the content below. Can you help me with it?

The NURBS Book, 2nd Edition p.370 ~ p.371

I don't know how to implement (9.10) equation and how to insert (9.11) and (9.12) equations into it.

[2020-10-23 08:19] whikwon commented on #112
Oh, I found the solution here.
https://math.stackexchange.com/questions/2189322/global-curve-interpolation-with-end-derivatives-specified-setting-up-the-matrix

[2020-10-24 01:00] #112 closed, assigned to nobody

[2020-10-24 04:29] whikwon commented on #112
I have no idea how to implement the comment below. (from the stackexchange I refered above comment.)

@orbingol Could you help me with it?

[2020-10-26 04:53] whikwon commented on #112
Solved by modifying original code. Thanks.

[2020-11-16 21:09] ghareth opened #113 "Unexpected output using VisSurface"
**Describe the bug**
The visualisation produced in matplotlib is not as expected.  The surfaces extend out from the original model.

**To Reproduce**

I am  visualising the rhino logo example file from McNeel converted using `on2json`.

[code]

**Expected Behavior**

Figure_1 below is as expected using VisSurfWireframe
Figure_2 below shows the unexpected output when using VisSurface
Figure_3 below

[2020-11-17 03:14] orbingol commented on #113
I have some questions:

1. I see that you are using `VisOCC` class in your example. Is that the same with `VisMPL`? Did you make any changes? If so, would you please share?
2. Could you also share the link to the model that you used (or attach here)?
3. What happens if you use triangles instead of quads? (I see that `VisSurface` uses triangles by default for evaluated points)

[2020-11-17 13:48] ghareth commented on #113
1. Sorry, VisOCC is a typo - It should read VisMPL.  I have started writing a visualisation module for PythonOCC but it is very basic.

2A. File is at https://files.mcneel.com/TEST/Rhino%20Logo.3dm
2B. JSON conversion is attached.
[Rhino Logo.json.zip](https://github.com/orbingol/NURBS-Python/files/5553823/Rhino.Logo.json.zip)

3. If I use triangles instead of quads, the output in figure_2 is prod

[2020-11-17 18:04] orbingol commented on #113
I understand. Thanks for the report @ghareth. Just a small question, something is not clear to me. You wrote

in your report. Are you using `geomdl.core`, which is compiled via cython or `geomdl`, pure python version? Both should work fine in theory, but just wanted to make sure.

[2020-11-17 18:57] ghareth commented on #113
Ok. Didn't realise that I had to import via geomdl.core.
I've been using Pure Python. I've now tested it against the cythonised version and there is no difference (apart from being much faster!)

[2020-12-02 17:13] Peanut-Git2 opened #114 "How to get the Y value of a specific X point in B-spline curve"
Thanks for your working first!
I have read the example about  [how to interpolate curve ](https://nurbs-python.readthedocs.io/en/latest//fitting-2.py)
I can get a series (x,y) value when I set the `curve.delta`, and use `curve.evalpts`. And I have read the[ docs](https://nurbs-python.readthedocs.io/en/latest/module_bspline.html?highlight=spline%27%3D#b-spline-curve) clearly.

But I don't know how

[2021-01-04 14:16] rendetto opened #115 "Evaluate Curves and Surfaces outside domain limits"
This is more of a question, since I'm just an artist and the mathematics is not my field of expertise.
Also I should apologize because I can only show images from a third party tool - namely Sverchok for Blender.

Sverchok uses GEOMDL for some operations involving NURBS so that artists can benefit the advantages of curve/surface modeling approach. It also uses FreeCAD(OpenCascade) libraries in the

[2021-01-04 20:53] orbingol commented on #115
@rendetto thanks for the question!

As a reference, I've created the following script according to your description in the question:

[code]

It looks like it gets evaluated outside of the domain (which is [3.0, 4.0] for your case). I haven't tested outside of the domain NURBS evaluation. There might be an issue with it. I'll look into it and get back to you.

[2021-01-12 14:38] ediemiglio opened #116 "VisPlotly and Jupyter"
Hi Onur, thanks for the great library! I have a question: when I am using plotly inside Jupyter (or Colab) the resulting figure is shown inside the notebook. On the other hand when I am using VisPlotly for visualizing a NURBS surface the result is an html file (as described in the documentation of NURBS-Python). I was wondering if there is any method to obtain the figure in the notebook.
Thanks in

[2021-01-14 04:03] orbingol commented on #116
@ediemiglio thanks for the request!

I thought Jupyter support was there but I am guessing I removed it due to some incompatibility issues a while ago (they changed their API a couple of times since I implemented `VisPlotly`). I'll try to add it back for the updated Plotly API.

[2021-01-14 07:26] orbingol commented on #116
I've added the Jupyter and Plotly renderer support in `5.x-dev` branch. Could you test it @ediemiglio?

The default behavior of `VisPlotly` hasn't changed, it will save the figure as an HTML file.

`VisPlotly` class in `5.x-dev` branch will show the following in the Jupyter notebook automatically:

[code]

You will be able to change the renderer. For instance:

[code]

[2021-01-14 08:11] orbingol commented on #115
It seems like there was a wrong assumption in the span finding function which only affects out of domain evaluation. After the fix, it seems to be computing the curve points correctly.

![Figure_1](https://user-images.githubusercontent.com/5276943/104562262-f8d8a800-55fc-11eb-9f81-3609de460278.png)

I'll push the changes to `5.x-dev` branch after some tests.

[2021-01-14 09:25] rendetto commented on #115
Awesome! Thank you very much!

There are kind of similar problems with the surfaces. I'll try to create and show you some simple test cases.
Did you prefer me to open another issue or I can upload the examples here?

[2021-01-14 10:25] orbingol commented on #115
It would be great if you could test the surfaces with the `5.x-dev` branch. Because surfaces and curves use the same span finding and basis computation functions, a fix for curves should also fix the surfaces (theoretically). I'd be happy if would report any issues under this ticket.

[2021-01-14 10:55] rendetto commented on #115
I just tested both the curves and the surfaces with the latest 5.x-dev branch. The issues I got are gone.

Thanks so much!

[2021-01-14 15:16] ediemiglio commented on #116
Thanks. I will try the dev branch.
   Edie

[2021-01-15 17:11] TomMelt opened #117 "Is it possible to get the b-spline value at the end point"
Hi,

I am using the function `basis_function_ders_one` to generate B-spline basis functions for my project.

I notice that they are defined between the knots ti <= x < ti+k

They include the first knot but they are less than the last. This is my issue. Is it possible to get the value at the rightmost knot.

This is important for me because I need to know the value of the non-zero b-spline (and the

[2021-01-20 08:11] sonomirco opened #118 "Little discrepancy"
Hi there.
I have done some tests with NurbsPython and VerbNurbs and I got the same results.
But when I compared those results with Rhino, for instance, I got a little discrepancy and I would like to know what can be the cause?

var knots = { 0.0, 0.0, 0.0, 0.0, 0.33, 0.66, 1.0, 1.0, 1.0, 1.0 };
var degree = 3;
var controlPts = {{5,5,0},{10, 10, 0},{20, 15, 0},{35, 15, 0},{45, 10, 0},{50, 5, 0}};

[2021-01-21 05:25] orbingol commented on #118
@sonomirco thanks for the question! I don't think it is a bug, but it looks like a precision issue. Since the integrity of geomdl, verb and Rhino is in question, it might be a good idea to use another software for validation (or we would be solving everything on the paper). My preference is GNU Octave.

Here is a GNU Octave script with the values you provided (I used v6.1.0 x64 with nurbs v1.13.3

[2021-01-21 05:46] orbingol commented on #113
Sorry for the late response. I've tested this a while ago. The surfaces are trimmed and they need to be tessellated with `TrimTessellate`. However, it looks like there is also a problem with the `TrimTessellate` class and it doesn't seem to output the correct result for some reason.

I have been looking into replacing `TrimTessellate` class for a while (it is slow and sometimes incorrect) and I'll

[2021-01-21 05:54] orbingol commented on #114
`geomdl` does not provide a method for those kinds of queries. However, you could use mathematical optimization methods or maybe ray intersection (should be easy to implement for a 2D curve) to query `y` from `x` values.

[2021-01-21 05:54] #114 closed, assigned to nobody

[2021-01-21 20:52] sonomirco commented on #118
Hi @orbingol,
thanks for the replay, I knew it wasn't a bug but I didn't found a way to change the label.
Also, a couple of hrs before your message, I found the answer exactly on the precision of the knots!
Good idea to use Octave!!!
Thanks again and NurbsPython is a very nice library!

[2021-01-21 20:52] #118 closed, assigned to nobody

[2021-01-23 06:39] orbingol commented on #116
I am closing this issue. It is fixed with v5.3.1 release.

[2021-01-23 06:39] #116 closed, assigned to orbingol

[2021-01-23 06:39] orbingol commented on #115
Fixed with v5.3.1 release.

[2021-01-23 06:39] #115 closed, assigned to orbingol

[2021-02-02 03:19] GarthSnyder opened #119 "Division by zero in backward_substitution while fitting spline"
Reproducible crash via division by zero. Should be reproducible from the code below. I took a look at the library code, but the exact issue isn't clear to me. Most likely it's something peculiar about the input, but I'm not sure exactly what.

Looks like `matrix_u[q - 1][q - 1]` is probably zero on line 616 of linalg.py.

There are 88 points, and accepting the default number of control points from

[2021-02-02 05:16] orbingol commented on #119
@GarthSnyder thanks for the bug report. I am guessing it would be a good idea to add a try-except block for `ZeroDivisionError` on line 616. Line 615 initializes the array to `0.0`, so something like this should be good enough:

[code]

[2021-02-02 11:09] orbingol commented on #119
It looks like changing the input degree also fixes the issue.

[code]

Is there a specific reason for setting degree to 5 @GarthSnyder? Usually quadratic or cubic should be enough.

[2021-02-03 00:58] GarthSnyder commented on #75
I was looking at some T-Spline issues related to Fusion 360, and it seems the T-Spline file format is undocumented at this point. There used to be a spec you could download from T-Splines when it was a separate company, but since the Autodesk acquisition their web site is no longer maintained. The Internet archive does not have a copy of the actual file, and nothing useful turns up on Google.

The

[2021-02-03 09:17] GarthSnyder opened #120 "Knot vectors synthesized for curve fitting are biased toward zero"
I've been noticing that some of the splines produced by `fitting.approximate_curve` seem to have a little hump at one end. Here, for dramatic effect, is a particularly striking example. This is what the input points actually look like:

![Screen Shot 2021-02-02 at 5 19 49 PM](https://user-images.githubusercontent.com/443181/106684283-0689a980-657b-11eb-9c4d-0f15feadbf88.png)

And this is the fit:

[2021-02-03 19:01] orbingol commented on #120
The approximation algorithm in the NURBS Book requires the number of control points to be generated. My personal approach was to make it simple by setting the number of control points = data points - 1. It doesn't have to be correct all the time.

Having said that, setting `ctrlpts_size` keyword argument to 9 seems to fix the issue.

[code]

[2021-02-04 04:51] GarthSnyder commented on #120
Sure, you can disguise the distortion by lowering the number of control points. That widens the knot spans and reduces the ringing introduced by the polynomial fit.

However, my point isn't that the distortion is visually displeasing; it's that the curve fit itself is incorrect. And the reason it's incorrect is that the knot vector doesn't actually conform to The NURBS Book p412.

Here's a more di

[2021-02-04 07:59] orbingol commented on #120
For the symmetric example, setting `ctrlpts_size` seems to fix the issue. I haven't checked the knot vector directly.

[code]

![Figure_1](https://user-images.githubusercontent.com/5276943/106858877-23a3a280-6677-11eb-9dbd-0aa4eac274c3.png)

I am not sure about the problem related to the knot vector. As you stated, the knot vector is also an input to the approximation. Therefore, it might be a goo

[2021-02-04 08:13] orbingol commented on #120
Ah! When the number of control points is degree - 1, then it is a Bezier curve. My mistake...

The problem reappears when I increase the number of data points.

[code]

Setting `centripetal=True` also makes some difference for this case.

[2021-02-05 05:24] GarthSnyder commented on #120
Submitted #121 if you would like to take a closer look at this. It includes fairly extensive tests. The existing code fails the symmetry tests, but if those tests are removed, it also fails the interleave tests in some circumstances. I also included the scenario from #119 as a separate test.

[2021-02-05 05:24] GarthSnyder commented on #119
Fixed by #121

[2021-02-18 01:31] efirvida opened #122 "Is possible to create a surface between splines"
Hi team, i want to model wind turbine blade and I'm wondering if I can model with this module.

The simplified process of creating a blade is.
1- read text file with x/y cartesian coordinates
2- do some transformation.
3 - move it in the Z Axis and join all points with a spline to create and airfoil section of the blade.
4- After putting some airfoil what I need is to create the surface that join

[2021-03-01 14:43] vicetingeltangel opened #123 "Approximation deviation"
Hello,

I would like to program my approximation to insert control points until the MSE reaches a defined value and my approximation is sufficiently accurate by n control points. Is there a way to calculate the MSE of my approximation?

Here is the algorithm I use for the approximation, while points is my list of measurment points:

**curve = geomdl.fitting.approximate_curve(points, degree, ctrlpt

[2021-03-13 23:17] Shegrad opened #127 "Order 1 approximation"
I would like to identify the axis of a complex curve which is located on a cylinder. To do this I calculate some estimated points that should be on the axis.
Once I have the points, I try to get the line using a least square approximation with fitting module.
I try to approximate a 3D line using geomdl routines from fitting.
I thought that the following code should be OK :

from geomdl import fitt

[2021-03-13 23:25] Shegrad opened #124 "Order 1 fitting approximation wit 2 points failed with Error"
**Describe the bug**
I try to approximate a 3D line using geomdl routines from fitting.
I thought that the following code should be OK :
from geomdl import fitting as fit
approx_line = fit.approximate_curve([[0,0,0],[1,1,1],[2,2,2]], degree=1, ctrlpts_size=2)

but I got the following error :
File "C:\Users\F278562\Desktop\morphotex\venv\lib\site-packages\geomdl\fitting.py", line 160, in approximat

[2021-03-14 02:12] orbingol commented on #127
You don't need curve approximation for a line. You simply need the starting and ending point. The following would do:

[code]

[2021-03-14 09:27] lslore opened #125 "Degree elevation modifies NURBS curve shape"
**Describe the bug**
Degree elevation operation via **operations.degree_operations** modifies the shape of the NURBS curve for particular input curves.

The problem seems to arise when calling **split_curve** and **link_curves** in **operations.degree_operations**. The target NURBS curve is a near 90deg arc and the splitting operation returns the arc itself and an infinitesimal segment, which gene

[2021-03-27 06:37] ebo commented on #103
Just checking in 9 months later.  Any news?

[2021-04-07 08:00] #123 closed, assigned to nobody

[2021-04-22 04:44] saidctb opened #126 "Support LS Dyna Input file"
is there any chance for NURBS-Python to support LS Dyna keyword Input files?, they support NURBS as well.

[2021-04-22 05:45] orbingol commented on #126
I'd say very little chance.

I've never used LS Dyna. Do you know an open-source library (or an official SDK) that can read and extract the geometry data from LS Dyna files? I'll also need a free application that can read this file type so that I can test the results on an independent platform.

[2021-05-25 16:11] LorenzSLH opened #128 "Problem with tesselation when using periodic surfaces"
Dear Bingol,
i would like to know if you have any idea on how to solve that issue. For one part of my project, I am using your libary to create an airfoil. As it is a closed (periodic) NURB curve, i have set according to the [course](https://pages.mtu.edu/~shene/COURSES/cs3621/NOTES/spline/B-spline/bspline-curve-closed.html) of the MTU, the knotvector and the control points. Which perfectly works

[2021-05-25 18:41] #127 closed, assigned to nobody

[2021-05-25 18:48] orbingol commented on #128
Tessellation included in geomdl is not perfect and it might have some issues. 'VisSurface' classes use the tessellator assigned to the `Surface` class. However,  `VisSurfaceWireframe` is a wrapper for the matplotlib function.  It is always possible to extend the tessellator class with another one, and all exporters and visualizers will use the new tessellator.

For the default tessellator, I'd try

[2021-05-26 09:05] LorenzSLH commented on #122
i don't know if you have resolved that issue by now, but i have a similar problem when coming to airfoils. You can easily created a closed NURB curve by wrapping the ctrlpts. When then extrude the curve along e.g. the z-axis you can use both contours to create a surface. Command for that `construct.construct_surface()`. You can have a look at my surface and contour in my thread: #128

best regards

[2021-05-26 14:41] LorenzSLH commented on #128
After running your tessellation with the debugger, i think i found the problem and maybe you have a smart idea to give it a work around:
The curve in the parameterized space is running from 0 to 1. When wrapping around the ctrlpts (e.g. a 3rd degree curve needs three double ctrlpts) the curve overlays at some points. Therefore some parts of the curve lay over each other.  Could the tesselation pro

[2021-05-27 01:06] orbingol commented on #128
I couldn't understand this question. Would you please elaborate a bit? Also, the triangles in your screenshot are very big. Could you try a smaller delta to see if it fixes the issue?

`TrimTesselate` class is doing this but only for trimmed surfaces. As you suggested it might be fixed by adding trims to the surface.

[2021-05-27 08:19] LorenzSLH commented on #128
sorry for the unclear formulation on that issue. If i understand your code right the vertices for the triangulation are formed from the evaluation points (in u and v direction). By numbering them, making squares and then split them into two triangles. The evaluation points look perfectly fine, but somehow the creation of the vertices seem to fail for closed curves. You find three images appended,

[2021-05-27 19:36] orbingol commented on #128
@LorenzSLH thank you so much for the detailed explanation. I appreciate it. I also would like to thank you for pinpointing the issue and the solution. I am glad you solved it and also posting the solution is very much appreciated. I really appreciate your efforts and time.

I'll try my best to figure out if it is some kind of floating-point error or a bug in the algorithm implementation. I have te

[2021-06-02 22:22] sphh opened #130 "How to increase number of triangles in .stl file?"
I created an aerofoil with the help of this wonderful module (Thank you!).

Now I want to export it as a .stl file. That works well, but the tesselation is quite coarse. Because in #128 it is mentioned, that increasing/decreasing the surfaces' `delta` values would change the resolution, I divided the default delta value by 100. Unfortunately that does not change the number of triangles.

Then I pl

[2021-06-03 06:17] orbingol commented on #130
The `delta` value needs to change the number of triangles as it changes the number of evaluated points. `delta` property is stored as a tuple (as you may have already noticed), so dividing a tuple by an integer might not work correctly.

There are also dimensional counterparts of `delta`, like `delta_u`, `delta_v`, and `delta_w` which can be used to update the number of evaluated points on the spe

[2021-06-03 09:30] sphh commented on #130
I found the mistake: I set the `delta` value for my surfaces and then I added these surfaces to a `SurfaceContainer` assuming that the final tessellation of the container takes the `delta` value for each surface. That was wrong: I have to set the `delta` value for the `SurfaceContainer`!

PS: By dividing the `delta` value by 100 I obviously meant to do it element-wise.

[2021-06-03 09:30] #130 closed, assigned to nobody

[2021-06-09 19:33] sphh opened #131 "Cannot set delta value after copying multi.SurfaceContainer()"
**Describe the bug**
I have a `multi.SurfaceContainer` with two surfaces. After making a copy with `copy.deepcopy()` I cannot set the `delta` value.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected Behavior**
Not throwing any error.

**Configuration:**
 - geomdl install source: PyPI
 - geomdl version/branch: 5.3.1

**Additional Details (Optional)**

My solution is (`multi.py`)

[2021-06-09 19:59] orbingol commented on #131
Thanks for the bug report.

`copy.copy` and `copy.deepcopy` won't copy the caches (defined in `abstract.GeomdlBase`) but it seems it won't reinitialize the caches too. I think removing `[:]` should work fine for now from the `reset` method of the base and surface container classes. I'll also need to port this to geomdl 6.x if I haven't fixed it already.

Alternatively, it could be possible to move

[2021-06-09 20:05] sphh commented on #131
I tried your approach and removed `[:]`. That also works for me. Thanks!

[2021-06-12 20:08] sphh opened #132 "Singularity in fitting.interpolate_surface()"
I try to fit a surface through a field of points, where one row of points collapse to a singularity, similar to this:
https://developer.rhino3d.com/guides/general/essential-mathematics/parametric-curves-surfaces/#singularity-in-nurbs-surfaces

At the moment I get a `ZeroDivisionError`:
[code]
Is there a workaround to get such a surface? Is it possible at all?

[2021-06-15 00:05] orbingol commented on #132
`compute_params_curve` needs to compute the chord length and when there is a singularity, the chord length becomes zero. I think there are 2 things to do:

1. It might not work perfectly but there could be a chance to fix the issue by catching `ZeroDivisionError` and filling the `uk` list separately
2. Put a very small distance between the data points that are causing the singularity. Therefore, t

[2021-06-15 07:28] sphh commented on #132
Currently I use 2, but would like to have a proper singularity.

If 1. is possible, that would be great. What would `uk` look like if `d→0`? Is this limes defined?

[2021-06-16 03:33] orbingol commented on #132
I'll need to test for Option 1. I am not sure if it will even work. The concept of chord length breaks the idea of singularity. However, it looks possible when we look at it from the programming perspective.

[2021-06-16 05:27] portnov commented on #132
Usually in NURBS algorithms, if you're encountering 0/0, you just say it is 0, and algorithm works fine. Does this trick help here?

[2021-06-16 05:37] orbingol commented on #132
I was thinking the same thing but I'd prefer testing before coming to the conclusion. Sometimes, it ends up being a completely different bug.

[2021-06-16 09:11] sphh commented on #132
I replaced line 452
[code]
with
[code]
(maybe this is faster:
[code]
is faster? But it needs Python ≥3.8)

Both my test and real cases are working perfectly with both changes.

[2021-06-16 14:07] orbingol commented on #132
`ZeroDivisionError` occurs when `d == 0`. If `sum(cds[0:i + 1]) == 0` and `d != 0`, it will evaluate to `0`. I think it would be enough to update the line 452 like this:

[code]

Note: I haven't tested it.

Elimination of `if-else` will automatically remove some of the overhead and it will become just a bit faster.

[2021-06-16 14:27] sphh commented on #132
I have not looked into the code more closely, but I wanted to implement it strictly according to @portnov! If `sum(cds[0:1 + 1])` is always `0` whenever `d==0`, my approach is certainly overkill.

I have different experiences when I timed `try ... except ...` and `if ... else ...` ages ago. I remembered, that `try ...` took more time. I just had another look into it again and noticed, that it depe

[2021-06-16 14:59] sphh commented on #132
Oh, well I managed to construct a test case, which fails:
[code]
With this code I get the following wing, which is how I expect it to look like:
![Screenshot from 2021-06-16 16-54-15](https://user-images.githubusercontent.com/4856462/122242549-ef58b200-ceb2-11eb-9591-a91014d969d1.png)

If I comment out these lines (which removed the singularity a the tip) to have a singularity at the tip x=0:
[cod

[2021-06-16 16:19] portnov commented on #132
@sphh as far as I understood, you want your profile to be elliptical. For ellipses and other conic sections there are known algorithms that define control points / weights / knot vectors of NURBS curves directly, without interpolation. Then you can apply lofting algorithm to generate surface. Such surface can be much "better" in several aspects, comparing to one which you can generate by interpola

[2021-06-16 16:28] sphh commented on #132
Well, it's true, that I used elliptical sections, section widths and thickness here. But this was only used to construct the simple test case and in real life different sections and distributions will be used. But thanks for pointing that out. It's highly appreciated. (@orbingol: Do you want to implement them in the `geomdl.shapes` package??)

BTW which nice program are you using here?

[2021-06-16 16:35] portnov commented on #132
Blender (blender.org) + Sverchok (https://github.com/nortikin/sverchok) :)

[2021-06-16 16:44] portnov commented on #132
as far as I see, `geomdl.shapes.curve2d` module already has methods for generating circles. To generate an ellipse, it is enough to generate a circle and then scale it's control points in one direction.

[2021-06-24 09:52] sphh commented on #132
@portnov: As mentioned earlier, this is just a testcase, the actual case is much more complicated. So let us not get side-tracked by figuring out, how the test case can be created in a different/better/faster/easier way, ok?

[2021-06-24 10:08] sphh commented on #132
Back to the original problem …

I managed to create a singularity. I succeeded, but needed another change in the `fitting.py` code.

The first one is mentioned in https://github.com/orbingol/NURBS-Python/issues/132#issuecomment-862412256, which catches `d = sum(cds[1:-1])` `== 0`. But `s = sum(cds[0:1+1])` can also become `==0`. It that case setting `uk[i] = 0` does not work. I now have the follow

[2021-06-24 10:22] sphh opened #133 "STEP export"
I read issue #70 and just wanted to ask, if you could make any progress in exporting STEP files?

Currently I use this toolchain:
`geomdl > .json` → `json2on > .3dm` → `FreeCAD > .step`

It would be really great, if it would just be `geomdl > .step`, especially because the FreeCAD step involves a GUI (mind you, it could be scripted, but that would require me digging into the FreeCAD API, but on th

[2021-06-25 15:54] orbingol commented on #133
@sphh thanks for your kind words. I was working on the STEP export feature before the pandemic. It wasn't going fast, to be honest. I was planning to use OpenCASCADE and create some apps very similar to `json2on` for exporting to IGES and STEP.

I still have the plan to develop the exporter apps but it is very hard to provide a schedule right now. I am hoping to change that very soon but it will d

[2021-06-25 16:09] orbingol commented on #132
I'd like to thank @portnov for the help. Actually, I like Sverchok and Blender, and I have been recommending Sverchok to many of my friends since I discovered it.  For sure, the users may not be able to share the actual data here on a public Github repository and there is also a fact that it is very hard to handle all the corner cases. Here, @sphh provided one and I appreciate it.

I'd suggest a p

[2021-06-25 16:24] portnov commented on #133
Another possibility you may want to explore is Python API of FreeCAD. If you install FreeCAD and add it's libraries directory (with FreeCAD.dll / FreeCAD.so) to python's sys.path, `import FreeCAD` becomes available. It allows to export Step, Iges, Brep files among other things.
So it is possible to do something like
[code]

[2021-06-27 15:26] sphh commented on #132
Well, monkey-patching is always an option, until the upstream source is changed :wink:

[2021-06-27 15:35] sphh commented on #133
@orbingol, you are absolutely right: According to https://wiki.freecadweb.org/OpenCASCADE, FreeCAD uses OpenCASCADE.

Am I right, that for a conversion to all the file formats supported by OpenCASCADE, that library can be used instead of the full-fledged FreeCAD installation?

[2021-07-02 11:36] sphh opened #134 "Centre of rotation cannot be set"
**Describe the bug**
When rotating an object, the centre of rotation is a point of that object's domain. For me, that's somehow counter-intuitive. But what is definitely missing is the possibility to set the centre of rotation.

**Additional Details (Optional)**
Would you accept a PR as this one? It does not break the old behaviour, but adds the possibility to specify the centre of rotation:
[code

[2021-07-02 15:29] portnov opened #135 "remove_knot implementation bug"
**Describe the bug**
`remove_knot()` method returns a curve, which is geometrically different from original curve. According to description of this operation (see The NURBS Book, p.5.4), the resulting curve should be geometrically and parametrically identical to original one

**To Reproduce**
[code]

Output:
[code]

[2021-07-02 18:14] orbingol commented on #135
According to the NURBS book, it is not always possible to remove a knot as the authors assume that `num`-th derivative must be continuous to remove `num` number of knots. Some researchers say that knot removal is possible as long as the knot exists in the knot vector but it is not always possible to get the same shape, i.e. it may change parametrically and geometrically. I think it would be a good

[2021-07-02 18:38] orbingol commented on #134
Thanks for the suggestion @sphh. I have a feeling that adding such an option will confuse a lot of people and I can't see any use case that might use this feature. Please correct me if I am wrong.

[2021-07-02 18:49] sphh commented on #134
Well, I believe it does make more sense to rotate any object at the origin of the coordinate system instead of a rather arbitrary point of the object. At least rotating it around the origin at least gives a predictable result. To be perfectly honest, I don't see any reason to not rotate it around the origin of the coordinate system. But since this is now the default behaviour, I kept it to avoid (

[2021-07-02 19:05] portnov commented on #135
In this particular test, I explicitly insert a knot and then try to remove it. Since I inserted the knot, I think it should be possible to remove it :)

[2021-07-02 20:46] orbingol commented on #134
The current implementation is the textbook definition of object rotation: translate the object to the coordinate center, rotate the object, and translate back to the original position. This will correctly rotate the object at the given angle about the selected axis. The object doesn't have to be positioned initially at the world origin.

[2021-07-02 21:12] sphh commented on #134
If I rotate an object around the x-axis, I assume, that this is the x-axis through the origin of the coordinate system and not an axis parallel to the x-axis through a point, from which I don't know, where it is actually located. That is, how it is defined in the CAD world. I am sorry to say, that the textbook definition does not make any sense, because it is not predictable.

Anyway, my proposal

[2021-07-02 22:50] orbingol commented on #135
Yes, absolutely.

It looks like I was wrong here. The implementation of the algorithms is always a little bit different than the algorithms in the book and it leads to unintentional mistakes. Having said that, I think I found the error. @portnov, would you change _helpers.py_ line 733 with

[code]

and test it again? I am guessing you have multiple cases to test :)

[2021-07-02 23:35] orbingol commented on #134
Take a look at this: https://www.cs.helsinki.fi/group/goa/mallinnus/3dtransf/3drota.htm

I still can't see any requirement for this feature. Thanks for the suggestion but I don't think it is necessary to work on it.

[2021-07-02 23:39] #134 closed, assigned to nobody

[2021-07-03 17:31] portnov commented on #135
Ok, will test

[2021-07-03 18:31] portnov commented on #135
The test case I posted in the description of this ticket is working now.
With other cases I have, I'm not so sure: result is changing form, but not so badly as before. But then, I'm not so sure there that knots are removable.

How current implementation is supposed to work if the knot is not removable?

[2021-07-03 21:59] orbingol commented on #135
@portnov you are right. For your specific case, if we want to remove `knot = 0` instead of `knot = 0.5`, it shouldn't allow it. I've implemented a fix and it seems to be working fine for curves.

Before pushing the fix, I need to complete the following:

- [ ] Implement the fix for the surfaces and volumes
- [ ] Test dependent functionality (e.g. degree reduction)

[2021-07-03 22:18] orbingol commented on #133
I haven't investigated in detail but I think so.

I am closing this issue for now. Feel free to reopen if you have questions.

[2021-07-03 22:18] #133 closed, assigned to nobody

[2021-07-04 15:44] sphh commented on #134
Thanks for that link. That's what I used to implement my little change.

Can you please tell me,

1. How to rotate a surface around the y-axis going through the origin?
2. Why a cylinder with its vertical axis coinciding with the z-axis does not stay at the same place, after rotating it around the z-axis?

The following picture shows a vertical cylinder, which axis is aligned with the z-axis (gree

[2021-07-11 09:58] sphh commented on #134
Dear @orbingol, please can you tell me, how I rotate a `geomdl` object about the x, y or z coordinate axes through the origin?

Thank you for your help.

[2021-08-10 18:00] neevparikh commented on #119
Hi I seem to have this issue when fitting a surface. Here is my reproducible snippet.

[code]

Surface_1 results in a index error.

Stack trace:

[code]

Trying to set the num_ctrl_pts to be 3 seems to have an issue. Surface_2 has this error:

[code]

According to the code comments, the size of u or v needs to be such that (size_u + 1) > num_ctrl_pts, so in theory, for a 3x11 patch, the 3 pt direc

[2021-08-10 21:21] GarthSnyder commented on #119
@neevparikh, did you try this on the #121 fork? It would be interesting to know whether that fix addresses the 2D case. The fix is in a utility routine, so it might or might not be in the path for surfaces.

[2021-08-11 23:18] neevparikh commented on #119
Oh okay I thought the #121 was merged in. I'll test and report back

[2021-08-12 14:38] neevparikh commented on #119
No fix from that sadly. The 2nd surface error changes to the same error as the first one now.

[2021-08-12 23:07] GarthSnyder commented on #119
It's been a while since I looked at NURBS math in detail, but I think you may be running afoul of some intrinsic requirements.

I don't think the standard approximation method implemented by NURBS-Python (from The NURBS Book) will extrapolate additional points in a dimension. If you have an input dimension of N, you can't ask for N + M control points as an output in that dimension; it has to be at

[2021-08-13 00:12] neevparikh commented on #119
Oh I see! I think I'd assumed 3 meant degree 3, but in hindsight that's obviously under determined, because you need n+1 pts to fit an n-dim polynomial. Thanks!

[2021-08-13 00:14] neevparikh commented on #119
I wonder if the default behavior should warn the user of this edge case? Or maybe the default number of control pts should be max(size_u - 1, degree_u + 1)?

[2021-08-13 22:20] GarthSnyder commented on #119
That seems like a good idea, but you should probably file it as a separate issue.

[2021-08-15 01:18] sonomirco opened #136 "Degree reduction miss calculating some points"
**Describe the bug**
Hi there, I was looking to the degree reduction and think there is a problem here
https://github.com/orbingol/NURBS-Python/blob/8ae8b127eb0b130a25a6c81e98e90f319733bca0/geomdl/helpers.py#L1047
You shouldn't use r1 and the loop exit most of the time, without filling the points, it should be reversed.

**To Reproduce**
[code]

If you run this what you will get are these results.

[2021-08-19 05:11] Beaver12LY opened #137 "how to get the coordinates according to certain x values?"
It seems its only possible to get the information of points based on parametric value.....But I'd like to know how to get that using spatial locations.

[2021-08-23 14:35] thiagoald opened #138 "Broken link in documentation"
Accessing this [link](https://nurbs-python.readthedocs.io/en/6.x/) (for the documentation of the 6.x version of NURBS-Python) found [here](https://github.com/orbingol/NURBS-Python/wiki#branch-information) leads to the broken page.

[2021-09-02 16:38] dg-w36 commented on #137
I have the same question and I want to make uniform sampling and the (x,y) coordinate. Does someone have some good idea or documentation?

[2021-09-09 11:34] libaineu2004 opened #139 "Please provide C/C++ interface"
Hi! Can the related geometric calculation methods provide C++ interface?
Let us C/C++ developers also participate. thanks

[2021-10-05 14:27] UgurOzcanFited opened #140 "exchange.import_obj() gives the error"
I run one of the geomdl-examples that named `trim_seperate_surfaces.py`. I added some codes below the file and wanted to run `exchange.import_obj()` method. I've got the error when import the obj file.

Error message:
`Traceback (most recent call last):
  File "trim_separate_surfaces.py", line 82, in <module>
    print(list(obj_file_export))
  File "/home/ugur/.local/lib/python3.7/site-packages/ge

[2021-10-05 14:30] UgurOzcanFited commented on #140
my code:
[code]

[2021-10-27 12:55] ghost opened #141 "bug in "operations.tangent""
We find that the function "operations.tangent" obtains the tangential direction by derivation. However, when the derivative is 0, a runtime error will cause the program to exit. This seems to be a very common bug.

[2021-10-31 14:27] bizerfr opened #142 "How to reuse the matplotlib figure"
HI,

    I use geomdl to plot multiple nurbs surfaces. And I also need to plot corresponding point clouds. I want to put them in the same figure. How to do it?

[2021-11-13 13:21] elfring opened #143 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2022-02-03 15:48] germa89 opened #144 "Conda package"
I'm working in a project that one of the requirements is this package. We want to put our package is conda, but it seems it is easier to do this if all the packages dependencies are in conda already.

So I'm happy to do the recipe if any of you agrees to be the maintainer (mainly you will be cited in their page as maintainer)

[2022-02-04 21:09] orbingol commented on #144
@germa89 already there: https://anaconda.org/orbingol/geomdl

The recipes are under `conda` directory of this repo. Please refer to the CI configuration for `conda build` instructions. Install instructions are [here](https://github.com/orbingol/NURBS-Python#installation).

[2022-02-04 21:09] #144 closed, assigned to nobody

[2022-02-07 10:02] germa89 commented on #144
@orbingol would it be possible to have in conda-forge too?

https://conda-forge.org/
https://github.com/conda-forge/staged-recipes

[2022-02-08 16:51] orbingol commented on #144
Sure, feel free to submit the package request to conda-forge.

[2022-02-08 18:14] germa89 commented on #144
Thank you! I will do it shortly!

[2022-03-16 08:18] goldengrape opened #146 "run NURBS Surface example but "ZeroDivisionError""
**Describe the bug**
run NURBS Surface example
https://nurbs-python.readthedocs.io/en/5.x/module_nurbs.html#nurbs-surface

but failed.

**To Reproduce**
Steps to reproduce the behavior:

[code]
The error message:

[code]

**Expected Behavior**
I had tried to reduce surf.delta to 0.01, 0.005, also got ZeroDivisionError

**Configuration:**
 - OS: [Win11]
 - Python distribution: [Anaconda]
 - Python

[2022-03-30 11:45] Beaver12LY commented on #142
I have the same question.

[2022-03-31 05:24] Im-fengyin opened #147 "The extras can't work in Bspline"
**Describe the bug**
Load a bspline json file and set a set of points on it, render it using extras param. Only the spline surface is ploted.

**To Reproduce**
surf = exchange.import_json(spline_path)[0]
plot_lines = []
m,n,_ = toolPath.shape
eval_uv = toolPath.reshape(-1,2)
toolPts = surf.evaluate_list(eval_uv.tolist())
toolPts = np.array(toolPts).reshape(m,n,3)
for x in range(m):
    pts = toolP

[2022-04-06 23:23] CFDerZhang opened #148 "Help: Given x, how to quickly get y for a NURBS curve"
for NURBS ：
x=x(t)
y=y(t)

Given x, how to quickly get y for a NURBS curve？

[2022-04-23 22:18] orbingol commented on #148
`geomdl` only supports (u, v, w) -> (x, y, z) mapping. You might need to use some other optimization methods to find y from a given x, such as the ones included in `scipy`.

[2022-04-23 22:18] #148 closed, assigned to nobody

[2022-04-23 22:25] orbingol commented on #142
Currently, the visualization modules are not returning the matplotlib figure, so I don't think it is possible with the included visualization modules. However, you could write your own visualization module with a minor change, e.g. add convert `fig` variable to `self.fig`, so that you should be able to access the MPL figure object directly from the visualization class instance.

[2022-05-07 00:36] MarkRause opened #149 "install"
Hi I'm getting this error trying to install on Spyder  4.25  any ideas?? thanks in advance

conda install -c orbingol geomdl
Traceback (most recent call last):

  File "<ipython-input-3-ce1a9752d7ef>", line 1, in <module>
    get_ipython().run_line_magic('conda', 'install -c orbingol geomdl')

  File "C:\Spydersucks\pkgs\IPython\core\interactiveshell.py", line 2344, in run_line_magic
    result =

[2022-05-21 16:55] orbingol commented on #149
I've received the same message by email and responded in detail. I don't think this is a geomdl issue. I am closing this one.

[2022-05-21 16:55] #149 closed, assigned to nobody

[2022-07-12 09:37] nimagitac opened #151 "Nurbs.Surfac Normal method"
It seems that the surface class has no method 'normal' although it is mentioned in the PDF file of the manual on page 93. Therefore, I utilize ' operations.normal' instead. Could you please let me know if the method 'normal' exists for the NURBS.Surface class?

[2022-07-28 16:12] kimstik opened #152 "Question: deviation estimation"
What is recipe to numerically estimate the maximum deviation of the extrapolated curve from the original piecewise linear one?
![image](https://user-images.githubusercontent.com/7290319/181586095-629426b9-fc08-4b24-880e-5cf4c9246c3a.png)

[2022-07-28 19:34] carlos-adir commented on #152
I don't think there's already an algorithm that do it. So, I would do it by myself:
1) Find a region where you know the deviation is. Like, at ```u``` between two scalars ```ui``` and ```uj```.
2) Get the tangent vector from the linear piecewise, the ```D``` vector.
3) Get the tangent vector ```V(u)``` from the extrapoled curve.
4) Your point at extrapoled curve is the one such ```V(u) = D```. You

[2022-07-28 21:22] portnov commented on #152
I can suggest a method which allows you to estimate this deviation, not exactly, but it can be enough:
* for each segment of your piecewise line, cut a corresponding segment from interpolated curve — i.e. find control points of the curve which is identical to your interpolation curve, but starts and ends at the end points of linear segment (there are methods for this in geomdl).
* now, you have a

[2022-07-30 18:25] carlos-adir opened #153 "Insert and then remove knot - Initial and final control points are not the same"
**Describe the bug**
I got a particular case that, when I add a ```knot``` to a ```BSpline.Curve``` and then remove the same ```knot``` I don't get the previous control points.

**To Reproduce**
Run this code
[code]

Then I get the result

[code]

**Expected Behavior**
The initial and the removed control points should be the same.

**Configuration**
* Visual Studio Code
* Python 3.9.1
* MSC v.1927

[2022-07-30 18:38] carlos-adir commented on #153
I made a test function with a random number of insert at random positions
[code]

[2022-07-31 03:23] thachdo opened #154 "fitting nurbs surface into mesh model"
Is there an avaible function to fit nurbs surfaces into a mesh model?

[2022-08-02 11:36] carlos-adir commented on #154
It highly depends on your mesh. If your mesh is not structured, it's not possible.
There's a function to interpolate inside [fitting module](https://nurbs-python.readthedocs.io/en/5.x/fitting.html). Maybe it helps you.

[2022-08-04 13:45] DaniloDel opened #155 "Surfaces: evaluating z for given (x, y)"
I interpolated/approximated a surface with available (x, y, z) data points. I would now like to evaluate the z value for given arbitrary (x, y) coordinates. Can anyone help me with this? All I can see is how to evaluate the surface for given (u, v), and I need to do that for given (x, y) instead. Thanks in advance, if anyone can help.

[2022-09-21 07:04] maozaizhou opened #156 "fitting error when use approximate_curve"
**Describe the bug**
hi, when i use the approximate_curve function to fit some 2d points, there are obvious fitting error in first few points,but it looks fitting well in the end
**To Reproduce**
Steps to reproduce the behavior:
1. here is the 2d points
   [fitting_points.txt](https://github.com/orbingol/NURBS-Python/files/9613774/fitting_points.txt)
2. then run some code like example
 `degree = 3

[2022-09-21 07:32] maozaizhou commented on #156
duplicate with https://github.com/orbingol/NURBS-Python/issues/120 close

[2022-09-21 07:32] #156 closed, assigned to nobody

[2022-10-06 09:25] cafhach commented on #153
Why should the resulting control points be identical to the initial ones?

[2022-10-06 11:09] portnov commented on #153
Well, because knot insertion and knot removal are the opposite processes for one another, so they should cancel each other, shouldn't they? :)

[2022-10-06 11:10] portnov commented on #153
As far as I understood, implementation of knot insertion and removal processes in geomdl is taken directly from The NURBS Book. Unfortunately, the book has a number of typos :/

[2022-10-06 12:35] cafhach commented on #153
They *appear* to be opposite processes, but are they really wrt the control points?

[2022-10-06 13:45] portnov commented on #153
IMHO they should be. Refer to The NURBS Book, 2nd ed, p. 5.4.

[2022-10-06 13:56] portnov commented on #153
In Sverchok, for example, this test works: https://github.com/nortikin/sverchok/blob/master/tests/nurbs_tests.py#L422
Note that in Sverchok insertion and removal of a knot several times is implemented very straightforward, by repeating the whole procedure several times. In the NURBS Book there is an algorithm which requires less calculations, but as far as I understood there are typos there — at l

[2022-10-31 12:39] fgrander opened #157 "NURBS.surfaces: derivatives evaluation"
**Describe the bug**
I did a NURBS approximation of a 3D model in Rhino resulting in several NURBS surfaces.
I calculated the derivatives for one of the resulting surfaces and figured out some strange effects.
The following image shows the surface at the top left. The other 3 plots shows the x-, y- and z-part of the derivative of the surface with respect to u. In each part of the derivative there

[2022-10-31 13:52] fgrander commented on #157
I appologize, there was a mistake in the Matlab code:

[code]

[2022-10-31 13:52] #157 closed, assigned to nobody

[2022-11-04 16:35] portnov opened #158 "Incorrect control points calculation in knot insertion procedure, under certain circumstances"
**Describe the bug**
When using curves with unclamped knotvector, if you try to insert a knot near the right end of knotvector (more precisely, try to insert `u_bar` which is greater than `u[-p-1]`, where `u` is knotvector, `p` is curve's degree) - control points are calculated incorrectly.

**To Reproduce**
As simple example, consider the curve of degree = 2, with control points:

[code]

and kno